{% comment %}
  pretty sure this is not being used, but dont want to delete in case
{% endcomment %}

<div class='section-title-fifth'>
  <h2>Find the Right Products to Achieve Your Goals</h2>
</div>
<ul class='nav nav-tabs' id='myTab' role='tablist'>
  <li class='nav-item'>
    <a
      class='nav-link active'
      id='Increase-strength-tab'
      data-toggle='tab'
      href='#Increase-strength'
      role='tab'
      aria-controls='Increase-strength'
      aria-selected='true'
      >Increase Strength</a
    >
  </li>
  <li class='nav-item'>
    <a
      class='nav-link'
      id='build-endurance-tab'
      data-toggle='tab'
      href='#build-endurance'
      role='tab'
      aria-controls='build-endurance'
      aria-selected='false'
      >Build endurance</a
    >
  </li>
  <li class='nav-item'>
    <a
      class='nav-link'
      id='improve-focus-tab'
      data-toggle='tab'
      href='#improve-focus'
      role='tab'
      aria-controls='improve-focus'
      aria-selected='false'
      >Improve focus</a
    >
  </li>
  <li class='nav-item'>
    <a
      class='nav-link'
      id='How-To-Use-tab'
      data-toggle='tab'
      href='#How-To-Use'
      role='tab'
      aria-controls='How-To-Use'
      aria-selected='false'
      >Fast Recovery</a
    >
  </li>
</ul>
<div class='tab-content' id='myTabContent'>
  <div
    class='tab-pane fade show active'
    id='Increase-strength'
    role='tabpanel'
    aria-labelledby='Increase-strength-tab'
  >
    <div class='product-list-col'>
      <div class='row'>
        <div class='col-md-6'>
          <div class='card product-box-wrap'>
            <div class='product-box'>
              <div class='image'>
                <a href='#'><img src='images/product-img1.jpg' alt='img'></a>
              </div>
              <h2>FLIGHT PREWORKOUT</h2>
              <h6>{{ cart.currency.symbol }}36.99</h6>
              <div class='product-box-select'>
                <div class='select-dropdown'>
                  <select class='form-control'>
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                  </select>
                </div>
                <div class='select-dropdown-flavor'>
                  <select class='form-control flavor'>
                    <option>FLAVOR</option>
                    <option>FLAVOR2</option>
                    <option>FLAVOR3</option>
                    <option>FLAVOR4</option>
                    <option>FLAVOR5</option>
                  </select>
                </div>
              </div>
              <div class='cart-button'>
                <button type='button' class='btn'>ADD TO CART</button>
              </div>
            </div>
          </div>
        </div>
        <div class='col-md-6'>
          <div class='card product-box-wrap'>
            <div class='product-box'>
              <div class='image'>
                <a href='#'><img src='images/product-img1.jpg' alt='img'></a>
              </div>
              <h2>FLIGHT PREWORKOUT</h2>
              <h6>{{ cart.currency.symbol }}36.99</h6>
              <div class='product-box-select'>
                <div class='select-dropdown'>
                  <select class='form-control'>
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                  </select>
                </div>
                <div class='select-dropdown-flavor'>
                  <select class='form-control flavor'>
                    <option>FLAVOR</option>
                    <option>FLAVOR2</option>
                    <option>FLAVOR3</option>
                    <option>FLAVOR4</option>
                    <option>FLAVOR5</option>
                  </select>
                </div>
              </div>
              <div class='cart-button'>
                <button type='button' class='btn'>ADD TO CART</button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class='text-link text-center'>
        <a href='#'>VIEW MORE</a>
      </div>
    </div>
  </div>
  <div
    class='tab-pane fade'
    id='build-endurance'
    role='tabpanel'
    aria-labelledby='build-endurance-tab'
  >
    <div class='product-list-col'>
      <div class='row'>
        <div class='col-md-6'>
          <div class='card product-box-wrap'>
            <div class='product-box'>
              <div class='image'>
                <a href='#'><img src='images/product-img1.jpg' alt='img'></a>
              </div>
              <h2>FLIGHT PREWORKOUT</h2>
              <h6>{{ cart.currency.symbol }}36.99</h6>
              <div class='product-box-select'>
                <div class='select-dropdown'>
                  <select class='form-control'>
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                  </select>
                </div>
                <div class='select-dropdown-flavor'>
                  <select class='form-control flavor'>
                    <option>FLAVOR</option>
                    <option>FLAVOR2</option>
                    <option>FLAVOR3</option>
                    <option>FLAVOR4</option>
                    <option>FLAVOR5</option>
                  </select>
                </div>
              </div>
              <div class='cart-button'>
                <button type='button' class='btn'>ADD TO CART</button>
              </div>
            </div>
          </div>
        </div>
        <div class='col-md-6'>
          <div class='card product-box-wrap'>
            <div class='product-box'>
              <div class='image'>
                <a href='#'><img src='images/product-img1.jpg' alt='img'></a>
              </div>
              <h2>FLIGHT PREWORKOUT</h2>
              <h6>{{ cart.currency.symbol }}36.99</h6>
              <div class='product-box-select'>
                <div class='select-dropdown'>
                  <select class='form-control'>
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                  </select>
                </div>
                <div class='select-dropdown-flavor'>
                  <select class='form-control flavor'>
                    <option>FLAVOR</option>
                    <option>FLAVOR2</option>
                    <option>FLAVOR3</option>
                    <option>FLAVOR4</option>
                    <option>FLAVOR5</option>
                  </select>
                </div>
              </div>
              <div class='cart-button'>
                <button type='button' class='btn'>ADD TO CART</button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class='text-link text-center'>
        <a href='#'>VIEW MORE</a>
      </div>
    </div>
  </div>
  <div class='tab-pane fade' id='improve-focus' role='tabpanel' aria-labelledby='improve-focus-tab'>
    <div class='product-list-col'>
      <div class='row'>
        <div class='col-md-6'>
          <div class='card product-box-wrap'>
            <div class='product-box'>
              <div class='image'>
                <a href='#'><img src='images/product-img1.jpg' alt='img'></a>
              </div>
              <h2>FLIGHT PREWORKOUT</h2>
              <h6>{{ cart.currency.symbol }}36.99</h6>
              <div class='product-box-select'>
                <div class='select-dropdown'>
                  <select class='form-control'>
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                  </select>
                </div>
                <div class='select-dropdown-flavor'>
                  <select class='form-control flavor'>
                    <option>FLAVOR</option>
                    <option>FLAVOR2</option>
                    <option>FLAVOR3</option>
                    <option>FLAVOR4</option>
                    <option>FLAVOR5</option>
                  </select>
                </div>
              </div>
              <div class='cart-button'>
                <button type='button' class='btn'>ADD TO CART</button>
              </div>
            </div>
          </div>
        </div>
        <div class='col-md-6'>
          <div class='card product-box-wrap'>
            <div class='product-box'>
              <div class='image'>
                <a href='#'><img src='images/product-img1.jpg' alt='img'></a>
              </div>
              <h2>FLIGHT PREWORKOUT</h2>
              <h6>{{ cart.currency.symbol }}36.99</h6>
              <div class='product-box-select'>
                <div class='select-dropdown'>
                  <select class='form-control'>
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                  </select>
                </div>
                <div class='select-dropdown-flavor'>
                  <select class='form-control flavor'>
                    <option>FLAVOR</option>
                    <option>FLAVOR2</option>
                    <option>FLAVOR3</option>
                    <option>FLAVOR4</option>
                    <option>FLAVOR5</option>
                  </select>
                </div>
              </div>
              <div class='cart-button'>
                <button type='button' class='btn'>ADD TO CART</button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class='text-link text-center'>
        <a href='#'>VIEW MORE</a>
      </div>
    </div>
  </div>
  <div class='tab-pane fade' id='How-To-Use' role='tabpanel' aria-labelledby='How-To-Use-tab'>
    <div class='product-list-col'>
      <div class='row'>
        <div class='col-md-6'>
          <div class='card product-box-wrap'>
            <div class='product-box'>
              <div class='image'>
                <a href='#'><img src='images/product-img1.jpg' alt='img'></a>
              </div>
              <h2>FLIGHT PREWORKOUT</h2>
              <h6>{{ cart.currency.symbol }}36.99</h6>
              <div class='product-box-select'>
                <div class='select-dropdown'>
                  <select class='form-control'>
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                  </select>
                </div>
                <div class='select-dropdown-flavor'>
                  <select class='form-control flavor'>
                    <option>FLAVOR</option>
                    <option>FLAVOR2</option>
                    <option>FLAVOR3</option>
                    <option>FLAVOR4</option>
                    <option>FLAVOR5</option>
                  </select>
                </div>
              </div>
              <div class='cart-button'>
                <button type='button' class='btn'>ADD TO CART</button>
              </div>
            </div>
          </div>
        </div>
        <div class='col-md-6'>
          <div class='card product-box-wrap'>
            <div class='product-box'>
              <div class='image'>
                <a href='#'><img src='images/product-img1.jpg' alt='img'></a>
              </div>
              <h2>FLIGHT PREWORKOUT</h2>
              <h6>{{ cart.currency.symbol }}36.99</h6>
              <div class='product-box-select'>
                <div class='select-dropdown'>
                  <select class='form-control'>
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                  </select>
                </div>
                <div class='select-dropdown-flavor'>
                  <select class='form-control flavor'>
                    <option>FLAVOR</option>
                    <option>FLAVOR2</option>
                    <option>FLAVOR3</option>
                    <option>FLAVOR4</option>
                    <option>FLAVOR5</option>
                  </select>
                </div>
              </div>
              <div class='cart-button'>
                <button type='button' class='btn'>ADD TO CART</button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class='text-link text-center'>
        <a href='#'>VIEW MORE</a>
      </div>
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Achieve Your Goals",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Title"
    },

    {
      "type": "url",
      "id": "view_more_link1",
      "label": "View More Link"
    }
  ],
  "blocks": [
    {
      "type": "text",
      "name": "Product",
      "settings": [
        {
          "type": "product",
          "id": "product",
          "label": "Product"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": {
        "en": "Product"
      }
    }
  ]
}
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
