<form action="{{ 'change_shipment_date' | action }}">
  <input type="hidden" name="order" value="{{ order.public_id }}">
  <sm-datepicker data-submit-on-save="true">
    <button
      id="change-order-date-trigger"
      data-variant="tertiary"
      class="og-button og-order-date og-trigger"
      data-datepicker-trigger
    >
      <span class="visually-hidden">{{ 'a11y_change_order_date_trigger' | t }}</span>
      {{ order.place | date }}
      <svg width="18" height="18">
        <use href="#calendar"></use>
      </svg>
    </button>
    {% include 'datepicker-popover' %}
    <input
      type="hidden"
      data-datepicker-input
      name="shipment_date"
      value="{{ order.place }}"
      required
    >
  </sm-datepicker>
</form>
