<sm-notifications aria-live="assertive">
  <ul>
    {% for notification in notifications %}
      {% set error_notification = 'error' in notification %}
      <li
        class="og-notification"
        data-state="{{ 'error' if error_notification else nil }}"
      >
        <span class="og-notification-icon">
          <svg width="16" height="16">
            <use href="{{ '#notification-error' if error_notification else '#notification-success' }}"></use>
          </svg>
        </span>
        <span class="visually-hidden">
          {{ 'a11y_notification_error' | t if error_notification else 'a11y_notification_success' | t }}
        </span>
        <span>
          {% set notifications_t = 'notifications' | t %}
          {{ notifications_t[notification.message] if notifications_t[notification.message] else notification.message }}
        </span>
        <button
          class="og-notification-close"
          aria-label="{{ 'a11y_notification_close' | t }}"
          @click="{{ 'SMNotifications.hideClosestNotification' | js }}"
        >
          <svg width="16" height="16">
            <use href="#notification-close"></use>
          </svg>
        </button>
      </li>
    {% endfor %}
  </ul>
</sm-notifications>
