<div class="og-order-header">
  <div class="og-order-heading">
    {% if index == 0 %}
      <h3>{{ 'next_order_heading' | t }}</h3>
    {% else %}
      <h3>{{ 'future_order_heading' | t }}</h3>
    {% endif %}
    {% include 'change-order-date' %}
  </div>
  <div class="og-order-header-summary">
    <span class="og-fw-500">
      {% if current_order_items.length === 1 %}
        1 {{ 'product_singular' | t }}
      {% else %}
        {{ current_order_items.length }}
        {{ 'product_plural' | t }}
      {% endif %}
    </span>
    <div class="og-order-product-summary">
      {% for order_item in current_order_items %}
        {% set product = products | find(id=order_item.product) %}
        {% if product and index < 3 %}
          <div class="og-thumbnail">
            <img src="{{ product.image_url }}" alt="" onerror="this.style.display='none';" alt="{{ product.name }}">
          </div>
        {% endif %}
      {% endfor %}
    </div>
  </div>
  <div class="og-order-actions">
    {% if not 'hide_skip_order_button' | setting %}
      {% include 'skip-order' %}
    {% endif %}
    {% if not 'hide_send_now_button' | setting %}
      {% include 'send-order-now' %}
    {% endif %}
    {% include 'add-product-to-order' %}
    <button
      data-toggle-trigger
      class="og-button og-order-toggle-trigger"
      data-variant="secondary"
      aria-label="{{ 'a11y_order_details_toggle' | t }}"
    ></button>
  </div>
</div>
