<sm-dialog
  id="og-skip-item-dialog-{{ order_item.public_id }}"
>
  <dialog>
    <form
      action="{{ 'delete_item' | action }}"
      @success="{{ 'SMDialog.close' | js }}"
      @reset="{{ 'SMDialog.close' | js }}"
    >
      {% set dialog_header_text = 'modal_skip_item_header' | t %}
      {% include 'dialog-header' %}
      <div class="og-dialog-body og-skip-item">
        {% set next_subscription_date = 'nthOrderDate(order, subscription)' | js | date('MMM D, YYYY') %}
        <p>
          {{ 'modal_skip_item_body' | t }}
        </p>
        <div class="og-skip-item-modal-inlay">
          <dl>
            <dt>{{ 'next_order_date' | t }}</dt>
            <dd>{{ next_subscription_date }}</dd>
          </dl>
        </div>
      </div>
      <div class="og-dialog-footer">
        <button class="og-button" data-variant="tertiary" type="button" @click="{{ 'SMDialog.close' | js }}">
          {{ 'cancel_button' | t }}
        </button>
        <button class="og-button" type="submit" name="delete_item">{{ 'modal_skip_item_save' | t }}</button>
      </div>
      <input type="hidden" value="{{ order_item.public_id }}" name="item">
    </form>
  </dialog>
</sm-dialog>
