<div class="og-skip-order">
  <button
    class="og-button"
    data-size="lg"
    @click="{{ '() => SMDialog.open("og-skip-order-dialog-" + order.public_id)' | js }}"
  >
    {{ 'shipment_skip_button' | t }}
  </button>
  <sm-dialog id="og-skip-order-dialog-{{ order.public_id }}">
    <dialog>
      <form
        action="{{ 'skip_shipment' | action }}"
        @success="{{ 'SMDialog.close' | js }}"
        @reset="{{ 'SMDialog.close' | js }}"
      >
        {% set dialog_header_text = 'modal_skip_header' | t %}
        {% include 'dialog-header' %}
        <div class="og-dialog-body">
          <input type="hidden" name="order" value="{{order.public_id}}">
          <p>
            {{ 'modal_skip_body' | t }}
          </p>
          <div class="og-new-orders-list">
            {% for order_item in order_items | select(order=order.public_id) %}
              {% set product = products | find(id=order_item.product) %}
              {% set subscription = subscriptions | find(id=order_item.subscription) %}
              {% if product and subscription %}
                <div class="og-new-order-date">
                  <div class="flex-row og-order-item-content">
                    <div class="og-thumbnail og-dark-background">
                      <img src="{{ product.image_url }}" alt="" onerror="this.style.display='none';">
                    </div>
                    <div class="flex-column">
                      <h2 class="og-product-title-sm">{{ product.name }}</h2>
                      <dl>
                        {% set next_subscription_date = 'nthOrderDate(order, subscription)' | js | date('MMM D, YYYY') %}
                        <dt>{{ 'next_order_date' | t }}</dt>
                        <dd>{{ next_subscription_date }}</dd>
                      </dl>
                    </div>
                  </div>
                </div>
              {% endif %}
            {% endfor %}
          </div>
        </div>
        <div class="og-dialog-footer">
          <button class="og-button" data-variant="tertiary" type="button" @click="{{ 'SMDialog.close' | js }}">
            {{ 'cancel_button' | t }}
          </button>
          <button class="og-button" type="submit" name="skip_shipment">{{ 'modal_skip_shipment_save' | t }}</button>
        </div>
      </form>
    </dialog>
  </sm-dialog>
</div>
