{% set alternative_product_ids = get(sku_swap, 'subscriptions.' + subscription.public_id, []) %}
{% set is_primary_currency = order.currency_code === null or order.currency_code === setting('currency_code') %}
{% set is_prepaid_fulfillment = subscription.prepaid_subscription_context and subscription.prepaid_subscription_context.prepaid_orders_remaining > 0 %}

{# hide sku swap if the currency is different -we don't have a good way to display the price-, or if there aren't any
products to swap to #}
{% if alternative_product_ids.length and is_primary_currency %}
  <div class="og-sku-swap-product-change">
    <button
      data-variant="secondary"
      class="og-button"
      data-click-target="og-sku-swap-dialog-{{ subscription.public_id }}"
      @click="{{ 'SMDialog.open' | js }}"
    >
      {{ 'change_product_control_label' | t }}
      <svg height="16" width="16" class="og-icon-svg">
        <use href="#refresh"></use>
      </svg>
    </button>
    <sm-dialog id="og-sku-swap-dialog-{{ subscription.public_id }}">
      <dialog class="og-dialog-wide">
        <form
          action="{{ 'change_product' | action }}"
          @success="{{ 'SMDialog.close' | js }}"
          @reset="{{ 'SMDialog.close' | js }}"
        >
          {% set dialog_header_text = 'modal_change_product_header' | t %}
          {% include 'dialog-header' %}
          {% if is_prepaid_fulfillment %}
            <p>{{ 'modal_change_product_prepaid_subtext' | t }}</p>
          {% endif %}
          <sm-product-filter>
            <div class="og-sku-swap-search-wrapper">
              <input
                type="text"
                placeholder="{{ 'change_product_search_label' | t }}"
                aria-label="{{ 'change_product_search_label' | t }}"
                data-search-input
              >
              <div class="og-sku-swap-search-icons">
                <button
                  class="og-icon-button"
                  data-clear-button
                  type="button"
                  aria-label="{{ 'change_product_search_clear_label' | t }}"
                >
                  <svg width="16" height="16">
                    <use href="#clear-search"></use>
                  </svg>
                </button>
                <div class="og-sku-swap-search-icon">
                  <svg width="12" height="12">
                    <use href="#search"></use>
                  </svg>
                </div>
              </div>
            </div>
            <input type="hidden" value="{{ subscription.public_id }}" name="subscription">
            <div class="og-sku-swap-display" data-items>
              <div class="og-no-result-message" data-no-results>{{ 'change_product_search_no_results' | t }}</div>
              {% for alt_product_id in alternative_product_ids %}
                {% set alt_product = products | find(id=alt_product_id) %}
                {% if alt_product %}
                  <input
                    required
                    type="radio"
                    name="product"
                    value="{{alt_product_id}}"
                    class="visually-hidden"
                    id="alternative-product-{{alt_product_id}}-for-{{product.external_product_id}}-in-{{order_item.public_id}}"
                  >
                  <label
                    data-product-name="{{ alt_product.name }}"
                    for="alternative-product-{{alt_product_id}}-for-{{product.external_product_id}}-in-{{order_item.public_id}}"
                  >
                    <div class="flex-row og-order-item-info og-text-sm">
                      <div class="og-thumbnail">
                        <img src="{{ alt_product.image_url }}" alt="" onerror="this.style.display='none';">
                      </div>
                      <div class="flex-column og-justify-content-center">
                        <span class="og-text-sm og-fw-bold">{{ alt_product.name }}</span>
                       <span>{{ order_item.total_price  | currency(order.currency_code) }}
                       <s class="og-final-price" style="margin-left: 5px">{{ alt_product.price | currency(order.currency_code) }}</s>
                       </span> 
                      </div>
                    </div>
                  </label>
                {% endif %}
              {% endfor %}
            </div>
          </sm-product-filter>
          <div class="og-dialog-footer">
            <button class="og-button" data-variant="tertiary" type="button" @click="{{ 'SMDialog.close' | js }}">
              {{ 'cancel_button' | t }}
            </button>
            <button class="og-button" type="submit" name="change_product">{{ 'modal_change_product_save' | t }}</button>
          </div>
        </form>
      </dialog>
    </sm-dialog>
  </div>
{% endif %}
