{% set enabled_countries =  setting('enabled_countries', ["CA", "MX", "US"]) %}
{% set localized_countries = 'localized_countries' | t %}

<div class="og-change-shipping-modal">
  <sm-dialog id="{{shipping_modal_id }}">
    <dialog>
      <form
        action="{{ 'change_shipping_address' | action }}"
        @success="{{ 'SMDialog.close' | js }}"
        @reset="{{ 'SMDialog.close' | js }}"
      >
        {# If the address has a public_id, we are editing current address, else we are adding #}
        {% if address.public_id %}
          {% set dialog_header_text = 'modal_shipping_header' | t %}
          <input type="hidden" value="{{ address.public_id }}" name="prev_address_id">
          {% set submit_shipping_text = 'modal_shipping_edit_address_save' | t %}
          {% set id_suffix = '_' + address.public_id + '_' + order.public_id %}
        {% else %}
          {% set dialog_header_text = 'modal_shipping_add_new_address' | t %}
          {% set submit_shipping_text = 'modal_shipping_add_address_save' | t %}
          {% set id_suffix = '_' + order.public_id %}
        {% endif %}
        <input type="hidden" value="{{ order.public_id }}" name="order_id">
        {% include 'dialog-header' %}
        <div class="og-dialog-body">
          {% if address.public_id %}
            <p class="og-text-sm og-shipping-subtitle">{{ 'modal_shipping_subtitle' | t }}</p>
          {% endif %}
          <input type="hidden" value="{{ customer.sig_field }}" name="customer">
          <div class="og-edit-address-form flex-column">
            <div class="og-half-width flex-column">
              <label for="first_name{{ id_suffix }}">
                {{ 'form_address_first_name' | t }}
              </label>
              <input
                type="text"
                value="{{address.first_name or '' }}"
                id="first_name{{ id_suffix }}"
                class="og-form-control"
                name="first_name"
                ?required="{{ 'required_fields.shipping_address.first_name' | setting(true) }}"
              >
            </div>
            <div class="og-half-width flex-column">
              <label for="last_name{{ id_suffix }}">
                {{ 'form_address_last_name' | t }}
              </label>
              <input
                type="text"
                value="{{address.last_name or '' }}"
                id="last_name{{ id_suffix }}"
                name="last_name"
                ?required="{{ 'required_fields.shipping_address.last_name' | setting(true) }}"
              >
            </div>
            <div class="flex-column og-full-width">
              <label for="addressLine1{{ id_suffix }}">
                {{ 'form_address_address_1' | t }}
              </label>
              <input
                type="text"
                id="addressLine1{{ id_suffix }}"
                name="address"
                value="{{address.address or '' }}"
                ?required="{{ 'required_fields.shipping_address.address' | setting(true) }}"
              >
            </div>
            <div class="flex-column og-full-width">
              <label for="addressLine2{{ id_suffix }}">
                {{ 'form_address_address_2' | t }}
              </label>
              <input
                type="text"
                value="{{address.address2 or '' }}"
                id="addressLine2{{ id_suffix }}"
                name="address2"
              >
            </div>
            <sm-country-state-dropdown
              .localizedCountries="{{ localized_countries }}"
              .enabledCountries="{{ enabled_countries }}"
            >
              <div class="flex-column og-half-width">
                <label for="country_code{{ id_suffix }}">
                  {{ 'form_address_country' | t }}
                </label>
                <select
                  name="country_code"
                  id="country_code{{ id_suffix }}"
                  ?required="{{ 'required_fields.shipping_address.country_code' | setting(true) }}"
                  value="{{address.country_code or ''}}"
                >
                  <option value="">{{ 'country_select_text' | t }}</option>
                </select>
              </div>
              <div class="flex-column og-half-width">
                <label for="state{{ id_suffix }}">
                  {{ 'form_address_state' | t }}
                </label>
                <select
                  id="state{{ id_suffix }}"
                  name="state_province_code"
                  ?required="{{ 'required_fields.shipping_address.state_province_code' | setting }}"
                  value="{{address.state_province_code or '' }}"
                >
                  <option value="">{{ 'state_select_text' | t }}</option>
                </select>
              </div>
            </sm-country-state-dropdown>

            <div class="flex-column og-half-width">
              <label for="city{{ id_suffix }}">
                {{ 'form_address_city' | t }}
              </label>
              <input
                type="text"
                id="city{{ id_suffix }}"
                name="city"
                value="{{address.city or '' }}"
                ?required="{{ 'required_fields.shipping_address.city' | setting }}"
              >
            </div>
            <div class="flex-column og-half-width">
              <label for="zip{{ id_suffix }}">
                {{ 'form_address_zip' | t }}
              </label>
              <input
                type="text"
                id="zip{{ id_suffix }}"
                name="zip_postal_code"
                value="{{address.zip_postal_code or '' }}"
                ?required="{{ 'required_fields.shipping_address.zip_postal_code' | setting }}"
              >
            </div>
            <div class="flex-column og-full-width">
              <label for="phone{{ id_suffix }}">{{ 'form_address_phone' | t }}</label>
              <input
                value="{{address.phone or '' }}"
                type="text"
                id="phone{{ id_suffix }}"
                name="phone"
              >
            </div>
            {% if not address.public_id %}
              <div class="use-for-all og-full-width">
                <input type="checkbox" name="use_for_all" id="use_for_all{{ id_suffix }}">
                <label for="use_for_all{{ id_suffix }}">{{ 'modal_shipping_use_for_all' | t }}</label>
              </div>
            {% endif %}
          </div>
        </div>
        <div class="og-dialog-footer">
          <button class="og-button" data-variant="tertiary" type="button" @click="{{ 'SMDialog.close' | js }}">
            {{ 'cancel_button' | t }}
          </button>
          <button class="og-button" type="submit" name="edit_shipping_address">
            {{ submit_shipping_text }}
          </button>
        </div>
      </form>
    </dialog>
  </sm-dialog>
</div>
