<div class="og-order-summary-container">
  <div class="og-order-summary">
    {% if shipping_address %}
      <sm-toggle class="og-shipping">
        <div class="og-summary">
          <h4 class="og-summary-heading">{{ 'shipment_unsent_footer_shipping_header' | t }}</h4>
          <span class="og-hide-on-open">
            {{ shipping_address.city }}, {{ shipping_address.state_province_code }}
            {{ shipping_address.zip_postal_code }}
          </span>
          <button
            data-toggle-trigger
            class="og-button"
            data-variant="secondary"
            aria-label="{{ 'shipment_unsent_footer_shipping_header' | t }}"
          ></button>
        </div>
        <div data-toggle-content>
          {% include 'order-summary/shipping-summary' %}
        </div>
      </sm-toggle>
    {% endif %}
    {% if payment %}
      {% set payment_will_be_expired = (payment.orders | find(id=order.public_id)) | get('payment_will_be_expired') %}
      {% set payment_method_names = 'payment_method_names' | t %}
      {% set payment_name = payment_method_names[payment.payment_method] if payment_method_names[payment.payment_method] else payment.payment_method %}
      {% set payment_display_name = payment.cc_type if payment.cc_type else payment_name %}
      <sm-toggle class="og-billing">
        <div class="og-summary">
          <h4 class="og-summary-heading">
            {{ 'shipment_unsent_footer_billing_header' | t }}
          </h4>
          <div og-payment-id="{{payment.public_id}}" class="og-hide-on-open">
            {% if payment_display_name %}
              <span class="og-payment-type">
                {{ payment_display_name }}
              </span>
            {% endif %}
            {% if payment.cc_number_ending %}
              <span class="og-payment-last-4">**** {{ payment.cc_number_ending }}</span>
            {% endif %}
          </div>
          <button
            data-toggle-trigger
            class="og-button"
            data-variant="secondary"
            aria-label="{{ 'shipment_unsent_footer_billing_header' | t }}"
          ></button>
        </div>
        <div data-toggle-content>
          {% include 'order-summary/payment-summary' %}
        </div>
      </sm-toggle>
    {% endif %}
    <sm-toggle>
      <div class="og-summary">
        <h4 class="og-summary-heading">{{ 'shipment_sent_price_total' | t }}</h4>
        <span class="og-hide-on-open og-summary-heading og-price-heading">
          {{ order.total | currency(order.currency_code) }}
        </span>
        <button
          data-toggle-trigger
          class="og-button"
          data-variant="secondary"
          aria-label="{{ 'shipment_sent_price_total' | t }}"
        ></button>
      </div>
      <div data-toggle-content>
        {% include 'order-summary/total-price' %}
      </div>
    </sm-toggle>
  </div>
</div>
