{# Shipping info #}
<div class="og-shipping-summary-container">
  <div class="og-shipping-addresses">
    {% set order_processing = order.status != 'UNSENT' %}
    {% if order_processing %}
      {% set address = addresses | find(public_id = order.shipping_address) %}
      {% include 'order-summary/shipping-address' %}
    {% else %}
      {% for address in addresses | select('live') | key %}
        {% set isActive = address.public_id == order.shipping_address %}
        {% if isActive %}
          {% include 'order-summary/shipping-address' %}
          {% elseif not order_processing %}
          <form
            action="{{ 'change_order_address_id' | action }}"
            class="og-shipping-address-form"
            data-active="{{ isActive }}"
          >
            {% include 'order-summary/shipping-address' %}
            <input type="hidden" name="address_id" value="{{ address.public_id }}">
            <input type="hidden" required name="order_id" value="{{ order.public_id }}">
          </form>
        {% endif %}
      {% endfor %}
    {% endif %}
  </div>
  {% if not order_processing and not 'external_shipping_enabled' | setting %}
    {% set address = {} %}
    {% set shipping_modal_id = "og-add-shipping-" + order.public_id %}
    <button
      class="og-shipping-card og-add-shipping-address"
      @click="{{ 'SMDialog.open' | js }}"
      data-click-target="{{ shipping_modal_id }}"
    >
      {{ 'modal_shipping_add_new_address' | t }}
    </button>
    {% include 'order-summary/change-shipping-modal' %}
  {% endif %}
</div>
