<section class="account__section account__recent-history">
  <h2 class="account__heading">{{ 'Recent History' | upcase }}</h2>

  {% assign last_order = customer.orders.first %}

  {% if last_order != blank %}
    <a class="order-summary" href="{{ last_order.customer_url }}">

      {% assign is_order_cancelled = false %}

      {% if last_order.fulfillment_status == 'restocked' %}
        {% assign is_order_cancelled = true %}
      {% endif %}

      <div class="order-summary__item">
        <span class="order-summary__label">Order ID:</span>
        <span class="order-summary__value">{{ last_order.name }}</span>

        <span class="order-summary__value" style="margin-left: auto">{{ last_order.total_price | money }}</span>
      </div>

      <div class="order-summary__item">
        <span class="order-summary__label">Placed on:</span>
        <span class="order-summary__value">{{ last_order.created_at | date: "%d %B %Y" }}</span>
      </div>

      <div class="order-summary__item">
        <span class="order-summary__label">Order status:</span>
        <span class="order-summary__value">
          {% if is_order_cancelled == false %}
            {{ last_order.fulfillment_status_label }}
          {% else %}
            Canceled
          {% endif %}
        </span>
      </div>

      <div class="order-summary__images-container swiper" data-order-images-swiper>
        <div class="swiper-wrapper">
          {% for item in last_order.line_items %}
            <div class="order-summary__image swiper-slide">
              <img src="{{ item.image | img_url: '96x96' }}" alt="{{ item.title }}"/>
            </div>
          {% endfor %}
        </div>

        <div class="swiper-button swiper-button-prev hidden">
          <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" viewBox="0 0 22 22" fill="none"
               style="pointer-events: none">
            <rect x="0.5" y="0.5" width="21" height="21" rx="10.5" fill="white" stroke="#CCCCCC"/>
            <path d="M12.375 6.875L7.5625 11L12.375 15.125" stroke="#333333" stroke-width="1.5" stroke-linecap="square"
                  stroke-linejoin="round"/>
          </svg>
        </div>
        <div class="swiper-button swiper-button-next hidden">
          <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" viewBox="0 0 22 22" fill="none"
               style="pointer-events: none">
            <rect x="0.5" y="0.5" width="21" height="21" rx="10.5" fill="white" stroke="#CCCCCC"/>
            <path d="M9.625 15.125L14.4375 11L9.625 6.875" stroke="#333333" stroke-width="1.5"
                  stroke-linecap="square" stroke-linejoin="round"/>
          </svg>
        </div>
      </div>
    </a>

    <a class="btn secondary-button" href='/account?view=orders_history'
       data-click-id="account_dashboard_view-all-orders">View all Orders</a>
  {% else %}
    <p class="order-summary__text">
      Take our short questionnaire to get your personalized routine – in less than 3
      minutes.
    </p>

    <a class="btn primary-button" href="/pages/quiz">Take the quiz</a>
  {% endif %}

</section>