{%- capture icon_class -%} {{ class }} {%- endcapture -%}
{%- capture icon_click_id -%}{{ tag }}{%- endcapture -%}
{%- case icon -%}
  {% when 'header-close' %}
    <svg class='{{ icon_class }}' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 14 14'>
      <g stroke="#000" stroke-width="2" fill="none" fill-rule="evenodd" stroke-linecap="round"
         stroke-linejoin="round">
          <path d="m1.316 1.333 11.368 11.334M12.684 1.333 1.316 12.667"/>
      </g>
    </svg>

  {% when 'hamburger-close' %}
    <svg width='14' height='14' viewBox='0 0 14 14' fill='none' xmlns='http://www.w3.org/2000/svg'>
      <path d="M1.4 14L0 12.6L5.6 7L0 1.4L1.4 0L7 5.6L12.6 0L14 1.4L8.4 7L14 12.6L12.6 14L7 8.4L1.4 14Z" fill="white"/>
    </svg>

  {% when 'hamburger' %}
    <svg class='{{ icon_class }}' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 17 14'>
      <g stroke="#000001" stroke-width="2" fill="none" fill-rule="evenodd" stroke-linecap="round"
         stroke-linejoin="round">
          <path d="M15.182 1.545H1M15.182 7H1M15.182 12.455H1"/>
      </g>
    </svg>
  {% when 'search' %}
    <svg class='{{ icon_class }}' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 18 17'>
      <g transform="translate(1.96 1)" stroke="#000001" stroke-width="2" fill="none" fill-rule="evenodd"
         stroke-linecap="round" stroke-linejoin="round">
          <circle cx="6.254" cy="6.254" r="6.254"/>
          <path d="m15 15-4.327-4.327"/>
      </g>
    </svg>
  {% when 'arrow-right-redesign' %}
    <svg
      class='{{ icon_class }}'
      xmlns='http://www.w3.org/2000/svg'
      width='20'
      height='20'
      viewBox='0 0 20 20'
      fill='none'
      {% if icon_click_id != blank -%}
        data-click-id='{{ icon_click_id }}'
      {%- endif %}
    >
      <path d="M6 18L14 10L6 2" stroke="white" stroke-width="2" stroke-linecap="square"/>
    </svg>
  {% when 'arrow-right' %}
    <svg
      class='{{ icon_class }}'
      xmlns='http://www.w3.org/2000/svg'
      xmlns='http://www.w3.org/2000/svg'
      viewBox='0 0 8 14'
    >
      <path d="m1.651 12 4.884-5-4.884-5" stroke="#000001" stroke-width="2.1" fill="none" fill-rule="evenodd"
            stroke-linecap="round" stroke-linejoin="round"/>
    </svg>
  {% when 'arrow-left' %}
    <svg
      class='{{ icon_class }}'
      xmlns='http://www.w3.org/2000/svg'
      viewBox='0 0 8 14'
      {% if icon_click_id != blank -%}
        data-click-id='{{ icon_click_id }}'
      {%- endif %}
    >
      <path d="M6.86 12 1.976 7 6.86 2" stroke="#000001" stroke-width="2.2" fill="none" fill-rule="evenodd"
            stroke-linecap="round" stroke-linejoin="round"/>
    </svg>
  {% when 'site-logo' %}
    <svg
      xmlns='http://www.w3.org/2000/svg'
      fill='none'
      viewBox='0 0 271 86'
      class='{{ icon_class }}'
      {% if icon_click_id != blank -%}
        data-click-id='{{ icon_click_id }}'
      {%- endif %}
    >
      <title>BPN logo</title>
      <path fill="#2D2A26"
            d="M149.979 33.551c2.227-1.217 3.195-3.042 4.051-7.709.892-4.87.315-6.897-2.26-7.81-1.384-.507-1.596-.507-10.964-.608h-26.792l-3.161 17.243h26.79c9.935-.1 10.358-.1 12.336-1.116ZM77.43 21.582c-.444 2.435-1.5 4.159-3.194 4.768-1.482.608-4.578.81-12.173.81H31.896l1.97-10.751h30.169c9.685.101 10.001.101 11.124.304 2.123.508 2.793 2.029 2.272 4.869Zm-1.844 24.445c-.52 2.842-1.54 4.362-3.462 5.074-1.712.709-1.712.709-14.494.81H27.358l2.064-11.26h30.273c12.428.102 12.428.102 13.445.306 2.334.506 3.023 1.926 2.446 5.07Zm23.257-27.893C101.094 5.859 98.078 1.599 86.73.787 83.602.585 83.602.585 66.955.483H16.43L4.024 68.141h50.63c23.646-.102 24.826-.203 29.076-1.523 6.594-2.028 10.144-6.999 11.91-16.633 1.99-10.855-.132-14.811-9.136-16.332 7.422-1.927 10.572-5.883 12.339-15.519Z"/>
      <path fill="#2D2A26"
            d="m248.411.484-8.716 50.413h-2.214L209.911.484H161.81v.47c.351.043.707.088 1.081.14 4.019.596 7.006 1.574 9.19 3.107 1.041.732 1.914 1.581 2.584 2.607.126.197.248.398.362.608.108.196.222.386.318.593l.029.068c.044.096.079.203.12.3.125.293.24.595.345.908a13.058 13.058 0 0 1 .236.827c.091.357.172.725.242 1.106l.026.138c.04.241.074.493.104.745l.003.023a20.676 20.676 0 0 1 .125 1.33c.019.287.031.584.039.886.013.472.012.964.001 1.468-.006.304-.012.61-.025.922l-.008.142c-.027.52-.067 1.064-.115 1.617-.029.348-.053.688-.09 1.048-.07.65-.16 1.339-.256 2.035-.034.245-.064.485-.098.73l-.07.476a101.621 101.621 0 0 1-1.003 5.57c-.059.284-.12.552-.18.83a71.68 71.68 0 0 1-.335 1.49c-.088.365-.176.72-.265 1.072-.075.294-.149.588-.227.874a55.16 55.16 0 0 1-.314 1.122c-.071.244-.14.486-.214.722-.118.387-.24.764-.364 1.134-.062.192-.128.382-.193.57a40.951 40.951 0 0 1-.592 1.578 28.608 28.608 0 0 1-.628 1.456c-.18.386-.364.762-.552 1.125-.037.072-.076.141-.113.213-.206.383-.416.755-.634 1.112-.022.04-.048.076-.07.115-.236.38-.478.747-.727 1.097l-.016.022c-1.601 2.238-3.524 3.894-5.887 5.161l-.001.013a23.98 23.98 0 0 1-3.853 1.626c-.628.19-1.254.362-1.896.52-.322.077-.647.152-.979.222a40.169 40.169 0 0 1-4.489.672c-.43.044-.876.083-1.343.12a93.27 93.27 0 0 1-3.059.184c-3.337.151-7.574.208-13.27.208h-27.003l-2.937 16.018-.095.517h77.075l8.734-50.515h2.322l27.761 50.515h37.233L270.246.484h-21.835ZM9.18 76.508c.02-.095.02-.17 0-.19-.099-.263-.45-.733-.764-.733H4.42l-.685 3.39h3.8c.352 0 1.116-.66 1.31-.923a.596.596 0 0 0 .08-.208l.254-1.336Zm-.96 4.82c.02-.095 0-.17 0-.188-.098-.227-.43-.604-.588-.698-.018-.018-.096-.018-.195-.018H3.444l-.706 3.521h3.78c.371 0 1.096-.66 1.31-.922.02-.02.06-.096.078-.19l.314-1.505Zm.744 2.692c-.196.227-.92.81-1.232.997a2.877 2.877 0 0 1-1.39.396H.82l2.27-11.296h5.522c.47 0 .92.17 1.233.413.236.189.724.754.841.98.16.32.16.715.08 1.091l-.276 1.375c-.176.885-.684 1.281-1.369 1.713.47.527.841.886.685 1.714l-.313 1.562a2.347 2.347 0 0 1-.53 1.055ZM17.874 75.698l-3.192 5.743h4.073l-.881-5.743Zm1.468 9.715-.372-2.522h-5.09l-1.41 2.521h-1.763l6.363-11.296h2.116l1.82 11.296h-1.664ZM31.15 76.508a.434.434 0 0 0 0-.227c-.08-.207-.413-.677-.686-.696h-4.092l-.744 3.654h3.76c.352 0 1.153-.586 1.35-.849a.627.627 0 0 0 .078-.206l.333-1.676Zm-1.274 8.905-1.86-4.708h-2.682l-.94 4.708H22.77l2.27-11.296h5.522c.45 0 .94.15 1.233.395.236.188.726.772.842.998.138.282.196.695.118 1.072l-.352 1.695a2.216 2.216 0 0 1-.548 1.055c-.196.225-.92.81-1.233.997-.276.17-.725.359-1 .34l1.959 4.744h-1.704ZM34.03 85.413l2.27-11.296h7.205l-.294 1.468h-5.58l-.704 3.445h5.266L41.9 80.5h-5.267l-.685 3.445h5.58l-.295 1.468H34.03ZM56.958 76.45c.02-.093.02-.188.02-.206 0-.17-.47-.659-.667-.659H52.18l-.744 3.654h3.72c.352 0 1.155-.66 1.39-.886a.41.41 0 0 0 .097-.208l.315-1.694Zm.704 2.882c-.196.225-.94.81-1.254.997a2.77 2.77 0 0 1-1.37.376h-3.896l-.94 4.708h-1.624l2.27-11.296h5.522c.45 0 .94.15 1.233.395.236.188.724.772.841.998.14.32.196.695.12 1.072l-.354 1.695a2.203 2.203 0 0 1-.548 1.055ZM59.112 85.413l2.27-11.296h7.206l-.295 1.468h-5.58l-.704 3.445h5.267l-.293 1.47h-5.267l-.685 3.445h5.58l-.295 1.468h-7.204ZM77.497 76.508a.434.434 0 0 0 0-.227c-.078-.207-.412-.677-.685-.696H72.72l-.744 3.654h3.76c.352 0 1.153-.586 1.35-.849a.63.63 0 0 0 .078-.206l.333-1.676Zm-1.273 8.905-1.86-4.708h-2.681l-.94 4.708h-1.626l2.271-11.296h5.521c.45 0 .94.15 1.234.395.236.188.725.772.842.998.138.282.195.695.118 1.072l-.352 1.695a2.216 2.216 0 0 1-.548 1.055c-.196.225-.922.81-1.234.997-.276.17-.725.359-1 .34l1.959 4.744h-1.704ZM83.978 75.585l-.705 3.445h5.268l-.293 1.47H82.98L82 85.414h-1.624l2.27-11.296h7.186l-.294 1.468h-5.56ZM98.761 76.602c.02-.075 0-.151-.02-.19-.195-.357-.548-.77-.783-.884a.429.429 0 0 0-.176-.037h-2.917a.429.429 0 0 0-.176.037c-.352.152-1.43.942-1.508 1.263l-1.233 6.156c-.059.283.548.865.802 1.035.06.037.118.057.196.057h2.918a.456.456 0 0 0 .196-.057c.333-.15 1.409-.903 1.468-1.224l1.233-6.156Zm-.156 7.268c-.293.338-1.233 1.093-1.665 1.317-.352.17-.822.32-1.194.32h-3.094c-.372 0-.782-.15-1.058-.32-.352-.224-.997-.979-1.173-1.317-.137-.302-.137-.679-.059-.999l1.252-6.193c.06-.322.196-.698.471-.998.293-.338 1.253-1.112 1.704-1.337.352-.17.803-.321 1.175-.321h3.092c.372 0 .804.152 1.077.321.332.225.96 1.015 1.136 1.337.157.3.157.659.097.998l-1.253 6.193c-.077.34-.213.697-.508.999ZM109.669 76.508a.434.434 0 0 0 0-.227c-.079-.207-.412-.677-.686-.696H104.891l-.744 3.654h3.759c.353 0 1.155-.586 1.351-.849.04-.057.058-.132.078-.206l.334-1.676Zm-1.274 8.905-1.86-4.708h-2.682l-.94 4.708h-1.624l2.27-11.296h5.522c.449 0 .94.15 1.233.395.236.188.724.772.841.998.139.282.196.695.119 1.072l-.353 1.695a2.213 2.213 0 0 1-.548 1.055c-.196.225-.92.81-1.232.997-.276.17-.726.359-1 .34l1.957 4.744h-1.703ZM121.299 85.413l1.802-8.98-4.288 6.062h-1.059l-1.819-6.062-1.802 8.98h-1.586l2.271-11.296h1.939l1.898 6.157 4.387-6.157h2.093l-2.27 11.296h-1.566ZM131.853 75.698l-3.192 5.743h4.074l-.882-5.743Zm1.47 9.715-.374-2.522h-5.09l-1.41 2.521h-1.762l6.362-11.296h2.116l1.82 11.296h-1.662ZM143.387 85.413l-3.308-8.623-1.743 8.623h-1.587l2.272-11.296h1.742l3.29 8.716 1.762-8.716h1.586l-2.27 11.296h-1.744ZM155.918 83.982c-.704.678-1.684 1.525-2.701 1.525h-2.586c-.37 0-.801-.15-1.076-.32-.353-.225-.978-.979-1.156-1.317a1.58 1.58 0 0 1-.077-.999l1.252-6.212a1.94 1.94 0 0 1 .491-.98c.293-.321 1.233-1.112 1.682-1.336.354-.17.804-.321 1.176-.321h2.603c1.019 0 1.685.828 2.076 1.525.119.188.235.47.372.961l-1.567.414c-.117-.566-.606-1.148-.998-1.412 0 0-.039-.019-.156-.019h-2.41c-.076 0-.096 0-.136.019-.313.132-1.174.79-1.488 1.166-.058.056-.117.471-.137.564l-1.155 5.744c-.058.302.548.904.803 1.035.04.02.059.02.137.02h2.467c.117 0 .156-.02.156-.02.471-.227 1.273-.845 1.605-1.43l1.568.414c-.197.34-.472.716-.745.979ZM158.523 85.413l2.271-11.296h7.205l-.293 1.468h-5.581l-.704 3.445h5.266l-.293 1.47h-5.267l-.685 3.445h5.58l-.295 1.468h-7.204ZM179.708 85.413l-3.306-8.623-1.744 8.623h-1.586l2.272-11.296h1.742l3.289 8.716 1.761-8.716h1.587l-2.271 11.296h-1.744ZM192.437 83.87c-.294.338-1.233 1.092-1.665 1.317-.352.17-.803.32-1.173.32h-2.626c-.372 0-.801-.15-1.076-.32-.353-.225-.978-.979-1.154-1.317a1.507 1.507 0 0 1-.079-.979l1.761-8.773h1.606l-1.782 8.846c-.058.284.607.924.882 1.055.018 0 .058.02.137.02h2.408c.079 0 .119-.02.136-.02.316-.13 1.469-1.016 1.529-1.28l1.742-8.621h1.605l-1.763 8.773c-.077.339-.194.676-.488.979ZM201.405 75.585l-1.977 9.828h-1.626l1.978-9.828h-3.348l.293-1.468h8.303l-.295 1.468h-3.328ZM213.349 76.508a.434.434 0 0 0 0-.227c-.079-.207-.412-.677-.685-.696h-4.092l-.744 3.654h3.76c.352 0 1.154-.586 1.349-.849.041-.057.06-.132.08-.206l.332-1.676Zm-1.272 8.905-1.861-4.708h-2.682l-.94 4.708h-1.624l2.271-11.296h5.521c.448 0 .94.15 1.232.395.236.188.726.772.843.998.137.282.196.695.117 1.072l-.352 1.695a2.204 2.204 0 0 1-.548 1.055c-.196.225-.92.81-1.233.997-.276.17-.724.359-1 .34l1.959 4.744h-1.703ZM216.189 85.413l2.27-11.296h1.626l-2.271 11.296h-1.625ZM226.898 75.585l-1.977 9.828h-1.625l1.977-9.828h-3.347l.292-1.468h8.303l-.293 1.468h-3.33ZM230.425 85.413l2.27-11.296h1.626l-2.271 11.296h-1.625ZM243.641 76.602c.02-.075 0-.151-.02-.19-.195-.357-.548-.77-.783-.884a.435.435 0 0 0-.176-.037h-2.917a.446.446 0 0 0-.178.037c-.35.152-1.428.942-1.508 1.263l-1.232 6.156c-.058.283.548.865.803 1.035a.342.342 0 0 0 .196.057h2.916c.08 0 .157-.037.197-.057.334-.15 1.41-.903 1.467-1.224l1.235-6.156Zm-.156 7.268c-.295.338-1.235 1.093-1.666 1.317-.352.17-.821.32-1.194.32h-3.094c-.372 0-.782-.15-1.057-.32-.352-.224-.997-.979-1.175-1.317-.136-.302-.136-.679-.058-.999l1.253-6.193c.06-.322.196-.698.471-.998.293-.338 1.253-1.112 1.704-1.337.35-.17.801-.321 1.173-.321h3.093c.372 0 .803.152 1.076.321.334.225.962 1.015 1.138 1.337.156.3.156.659.097.998l-1.253 6.193c-.078.34-.214.697-.508.999ZM252.803 85.413l-3.308-8.623-1.742 8.623h-1.587l2.272-11.296h1.741l3.291 8.716 1.761-8.716h1.587l-2.271 11.296h-1.744Z"/>
    </svg>
  {% when 'desktop-site-logo' %}
    <svg
      width='396'
      height='136'
      viewBox='0 0 396 136'
      fill='none'
      xmlns='http://www.w3.org/2000/svg'
      {% if icon_click_id != blank -%}
        data-click-id='{{ icon_click_id }}'
      {%- endif %}
    >
      <path d="M219.144 52.8899C222.416 50.9492 223.846 48.0274 225.099 40.5632C226.412 32.779 225.57 29.5374 221.789 28.0659C219.751 27.2555 219.438 27.2555 205.686 27.0848H166.331L161.688 54.66H201.044C215.638 54.4894 216.265 54.4894 219.164 52.8685L219.144 52.8899Z"
            fill="white"/>
      <path d="M144.024 28.2363C147.335 8.59457 142.907 1.79142 126.217 0.490509C123.148 0.277244 113.464 0.113741 97.1661 0H22.9418L4.7041 108.211H79.0851C113.817 108.04 115.561 107.891 121.81 105.779C131.506 102.538 136.717 94.5829 139.303 79.1639C142.222 61.8041 139.107 55.4702 125.884 53.0389C136.795 49.9466 141.419 43.634 144.004 28.2149L144.024 28.2363ZM109.86 72.8512C109.096 77.3938 107.607 79.825 104.767 80.9553C103.095 81.7088 95.9972 82.1425 83.4731 82.2562H39.0051L42.0415 64.2567H86.5094C98.681 64.3704 105.263 64.5339 106.256 64.7472C109.684 65.5576 110.702 67.8395 109.84 72.8512H109.86ZM112.563 33.7598C111.917 37.6626 110.35 40.4137 107.862 41.3947C105.687 42.3757 101.143 42.6956 89.9768 42.6956H45.6459L48.5452 25.5065H92.876C107.098 25.6771 107.568 25.6771 109.214 25.997C112.328 26.8074 113.308 29.2386 112.544 33.7811L112.563 33.7598Z"
            fill="white"/>
      <path d="M363.761 0L350.95 80.6354H347.698L307.207 0H236.528V0.746427C237.037 0.810406 237.566 0.895712 238.115 0.959691C244.011 1.91938 248.399 3.47622 251.612 5.92876C253.14 7.10172 254.433 8.46661 255.412 10.0874C255.589 10.4073 255.784 10.7272 255.941 11.0684C256.098 11.3883 256.274 11.6869 256.411 12.0281C256.411 12.0708 256.431 12.0921 256.45 12.1348C256.509 12.284 256.568 12.4547 256.627 12.6253C256.803 13.0945 256.979 13.585 257.136 14.0755C257.234 14.3954 257.332 14.7579 257.41 15.0991C257.43 15.2058 257.45 15.3124 257.489 15.3977C257.626 15.9735 257.743 16.5493 257.841 17.1678C257.841 17.2318 257.861 17.3171 257.881 17.3811C257.939 17.765 257.978 18.1702 258.037 18.5754C258.037 18.5754 258.037 18.5967 258.037 18.618C258.116 19.2791 258.174 19.9829 258.214 20.708C258.214 20.708 258.214 20.7293 258.214 20.7507C258.233 21.2198 258.253 21.689 258.272 22.1582C258.272 22.9046 258.272 23.6937 258.272 24.5041C258.272 24.9946 258.272 25.4851 258.233 25.9756C258.233 26.061 258.233 26.1249 258.233 26.2102C258.194 27.042 258.135 27.9164 258.057 28.7907C258.018 29.3452 257.978 29.8997 257.92 30.4755C257.822 31.5205 257.685 32.6082 257.547 33.7385C257.489 34.1224 257.45 34.5062 257.41 34.9114C257.371 35.1674 257.332 35.4233 257.312 35.6792C257.097 37.2574 256.842 38.8568 256.568 40.5843C256.333 41.9705 256.098 43.2927 255.843 44.5937C255.765 45.0415 255.667 45.468 255.569 45.9159C255.412 46.7263 255.236 47.5367 255.079 48.3045C254.942 48.8803 254.825 49.4561 254.687 50.0106C254.57 50.4798 254.472 50.949 254.354 51.4181C254.198 52.0366 254.041 52.6337 253.884 53.2096C253.786 53.5934 253.669 53.9773 253.571 54.3612C253.395 54.9797 253.218 55.5768 253.042 56.1739C252.944 56.4725 252.846 56.7924 252.748 57.091C252.552 57.7094 252.337 58.3279 252.141 58.9037C252.062 59.1383 251.965 59.3729 251.886 59.6075C251.651 60.226 251.416 60.8444 251.181 61.4202C251.103 61.5909 251.044 61.7615 250.965 61.9321C250.711 62.5506 250.437 63.1477 250.162 63.7235C250.104 63.8301 250.045 63.9581 250.006 64.0647C249.712 64.6832 249.398 65.2803 249.085 65.8348C249.046 65.8988 249.007 65.9628 248.987 66.0268C248.634 66.6239 248.282 67.2211 247.929 67.7755C247.929 67.7755 247.929 67.7969 247.91 67.8182C245.559 71.401 242.738 74.0455 239.271 76.0715C237.547 77.0952 235.666 77.9483 233.609 78.6947C232.689 78.9933 231.768 79.2705 230.828 79.5264C230.357 79.6544 229.868 79.761 229.398 79.889C227.439 80.3368 225.323 80.6994 222.796 80.9553C222.169 81.0193 221.503 81.0833 220.817 81.1472C219.446 81.2539 217.957 81.3605 216.331 81.4458C211.434 81.6804 205.205 81.787 196.84 81.787H157.171L152.862 107.4L152.725 108.232H265.971L278.802 27.4258H282.211L322.996 108.232H377.709L395.849 0H363.761Z"
            fill="white"/>
      <path d="M11.9691 133.611C11.6753 133.973 10.6175 134.912 10.1473 135.21C9.54004 135.594 8.75646 135.85 8.11001 135.85H0L3.3302 117.786H11.4402C12.1258 117.786 12.7919 118.064 13.262 118.448C13.6146 118.746 14.3199 119.663 14.4962 120.004C14.7312 120.516 14.7312 121.156 14.6137 121.753L14.2023 123.95C13.9477 125.357 13.2033 125.997 12.1846 126.68C12.8702 127.533 13.4187 128.087 13.1837 129.409L12.7331 131.905C12.6156 132.502 12.3609 133.078 11.9495 133.589L11.9691 133.611ZM10.8721 129.303C10.8917 129.154 10.8721 129.026 10.8721 129.004C10.735 128.642 10.2453 128.045 10.0102 127.895C9.99059 127.874 9.87306 127.874 9.71634 127.874H3.85911L2.82087 133.504H8.36467C8.91318 133.504 9.971 132.459 10.2844 132.033C10.304 132.011 10.3628 131.883 10.402 131.734L10.8525 129.324L10.8721 129.303ZM12.2826 121.604C12.3021 121.455 12.3021 121.327 12.2826 121.305C12.1454 120.879 11.6165 120.132 11.166 120.132H5.28914L4.29008 125.549H9.87306C10.3824 125.549 11.5186 124.504 11.7928 124.078C11.8124 124.056 11.8712 123.886 11.9104 123.737L12.2826 121.604Z"
            fill="white"/>
      <path d="M27.2096 135.85L26.6611 131.819H19.1779L17.1014 135.85H14.5156L23.8598 117.786H26.9745L29.6386 135.85H27.19H27.2096ZM25.0547 120.303L20.3729 129.495H26.3476L25.0547 120.303Z"
            fill="white"/>
      <path d="M42.6863 135.85L39.9438 128.322H36.0063L34.6155 135.85H32.2256L35.5558 117.786H43.6658C44.3318 117.786 45.0566 118.021 45.4876 118.426C45.8402 118.725 46.5454 119.663 46.7217 120.026C46.9176 120.474 47.0156 121.135 46.898 121.732L46.3887 124.44C46.2712 125.037 46.0165 125.613 45.5856 126.125C45.2917 126.488 44.2339 127.426 43.7637 127.725C43.3524 128.002 42.7059 128.3 42.2945 128.258L45.1742 135.85H42.6667H42.6863ZM44.5473 121.604C44.5669 121.476 44.5669 121.327 44.5473 121.241C44.4298 120.9 43.94 120.154 43.5483 120.132H37.5343L36.4373 125.976H41.9615C42.4708 125.976 43.6658 125.038 43.94 124.611C43.9988 124.526 44.0184 124.398 44.0576 124.27L44.5473 121.583V121.604Z"
            fill="white"/>
      <path d="M48.7979 135.85L52.1281 117.786H62.7063L62.2754 120.132H54.0674L53.0292 125.635H60.767L60.336 127.981H52.5982L51.5991 133.483H59.8071L59.3761 135.829H48.7979V135.85Z"
            fill="white"/>
      <path d="M83.5104 126.125C83.2165 126.488 82.1195 127.426 81.669 127.725C81.0617 128.109 80.3173 128.322 79.6512 128.322H73.9311L72.5403 135.85H70.1504L73.4806 117.786H81.5906C82.2566 117.786 82.9814 118.021 83.4124 118.426C83.765 118.725 84.4702 119.663 84.6465 120.026C84.8424 120.538 84.9404 121.135 84.8228 121.732L84.3135 124.44C84.196 125.037 83.9413 125.613 83.5104 126.125ZM82.4721 121.519C82.4917 121.369 82.4917 121.22 82.4917 121.177C82.4917 120.9 81.8061 120.132 81.5122 120.132H75.4395L74.3425 125.976H79.808C80.3173 125.976 81.5122 124.931 81.8453 124.568C81.904 124.504 81.9628 124.398 81.9824 124.227L82.4525 121.519H82.4721Z"
            fill="white"/>
      <path d="M85.6426 135.85L88.9728 117.786H99.551L99.1201 120.132H90.9121L89.8739 125.635H97.6117L97.1807 127.981H89.4429L88.4439 133.483H96.6518L96.2208 135.829H85.6426V135.85Z"
            fill="white"/>
      <path d="M110.781 135.85L108.039 128.322H104.101L102.71 135.85H100.32L103.651 117.786H111.761C112.427 117.786 113.151 118.021 113.582 118.426C113.935 118.725 114.64 119.663 114.816 120.026C115.012 120.474 115.11 121.135 114.993 121.732L114.483 124.44C114.366 125.037 114.111 125.613 113.68 126.125C113.386 126.488 112.329 127.426 111.858 127.725C111.447 128.002 110.801 128.3 110.389 128.258L113.269 135.85H110.761H110.781ZM112.642 121.604C112.662 121.476 112.662 121.327 112.642 121.241C112.525 120.9 112.035 120.154 111.643 120.132H105.629L104.532 125.976H110.056C110.566 125.976 111.761 125.038 112.035 124.611C112.094 124.526 112.113 124.398 112.152 124.27L112.642 121.583V121.604Z"
            fill="white"/>
      <path d="M122.181 120.132L121.143 125.635H128.88L128.449 127.981H120.712L119.282 135.85H116.892L120.222 117.786H130.78L130.35 120.132H122.181Z"
            fill="white"/>
      <path d="M143.68 133.377C143.249 133.91 141.858 135.126 141.231 135.489C140.722 135.766 140.016 136 139.468 136H134.923C134.375 136 133.767 135.766 133.376 135.489C132.866 135.126 131.906 133.932 131.652 133.377C131.456 132.887 131.456 132.29 131.573 131.778L133.415 121.861C133.493 121.349 133.709 120.752 134.1 120.261C134.531 119.728 135.942 118.491 136.608 118.129C137.117 117.852 137.783 117.617 138.332 117.617H142.876C143.425 117.617 144.052 117.852 144.463 118.129C144.953 118.491 145.874 119.75 146.128 120.261C146.363 120.752 146.363 121.306 146.265 121.861L144.424 131.778C144.306 132.311 144.111 132.887 143.68 133.377ZM143.915 121.754C143.934 121.626 143.915 121.52 143.895 121.456C143.601 120.88 143.092 120.219 142.739 120.048C142.681 120.027 142.602 119.984 142.485 119.984H138.195C138.077 119.984 137.999 120.006 137.94 120.048C137.431 120.283 135.844 121.562 135.726 122.074L133.905 131.927C133.826 132.375 134.708 133.313 135.08 133.59C135.158 133.654 135.256 133.676 135.374 133.676H139.664C139.781 133.676 139.899 133.612 139.958 133.59C140.447 133.356 142.034 132.14 142.112 131.628L143.934 121.776L143.915 121.754Z"
            fill="white"/>
      <path d="M158.045 135.85L155.302 128.322H151.365L149.974 135.85H147.584L150.914 117.786H159.024C159.69 117.786 160.415 118.021 160.846 118.426C161.199 118.725 161.904 119.663 162.08 120.026C162.276 120.474 162.374 121.135 162.256 121.732L161.747 124.44C161.63 125.037 161.375 125.613 160.944 126.125C160.65 126.488 159.592 127.426 159.122 127.725C158.711 128.002 158.064 128.3 157.653 128.258L160.533 135.85H158.025H158.045ZM159.906 121.604C159.925 121.476 159.925 121.327 159.906 121.241C159.788 120.9 159.298 120.154 158.907 120.132H152.893L151.796 125.976H157.32C157.829 125.976 159.024 125.038 159.298 124.611C159.357 124.526 159.377 124.398 159.416 124.27L159.906 121.583V121.604Z"
            fill="white"/>
      <path d="M177.003 135.85L179.648 121.476L173.34 131.18H171.792L169.128 121.476L166.483 135.85H164.152L167.483 117.786H170.323L173.105 127.639L179.55 117.786H182.625L179.295 135.85H177.003Z"
            fill="white"/>
      <path d="M194.676 135.85L194.128 131.819H186.645L184.568 135.85H181.982L191.327 117.786H194.441L197.105 135.85H194.657H194.676ZM192.522 120.303L187.84 129.495H193.814L192.522 120.303Z"
            fill="white"/>
      <path d="M209.479 135.85L204.621 122.052L202.055 135.85H199.724L203.054 117.786H205.62L210.459 131.734L213.044 117.786H215.376L212.045 135.85H209.479Z"
            fill="white"/>
      <path d="M227.865 133.548C226.827 134.635 225.397 135.979 223.888 135.979H220.088C219.539 135.979 218.913 135.744 218.501 135.467C217.992 135.105 217.071 133.91 216.797 133.356C216.601 132.865 216.562 132.311 216.679 131.756L218.521 121.818C218.599 121.285 218.834 120.731 219.246 120.261C219.677 119.75 221.067 118.491 221.714 118.129C222.223 117.852 222.889 117.617 223.438 117.617H227.258C228.746 117.617 229.726 118.939 230.314 120.048C230.49 120.347 230.666 120.795 230.862 121.584L228.57 122.245C228.394 121.349 227.689 120.411 227.101 119.984C227.101 119.984 227.042 119.963 226.866 119.963H223.32C223.203 119.963 223.183 119.963 223.124 119.984C222.674 120.197 221.4 121.242 220.93 121.861C220.852 121.946 220.754 122.607 220.734 122.757L219.03 131.948C218.952 132.439 219.833 133.399 220.205 133.612C220.264 133.633 220.284 133.633 220.401 133.633H224.025C224.202 133.633 224.261 133.612 224.261 133.612C224.946 133.249 226.121 132.247 226.611 131.33L228.923 131.991C228.629 132.524 228.237 133.143 227.826 133.548H227.865Z"
            fill="white"/>
      <path d="M231.7 135.85L235.03 117.786H245.609L245.178 120.132H236.97L235.932 125.635H243.669L243.238 127.981H235.501L234.501 133.483H242.709L242.278 135.829H231.7V135.85Z"
            fill="white"/>
      <path d="M262.839 135.85L257.981 122.052L255.415 135.85H253.084L256.414 117.786H258.98L263.819 131.734L266.405 117.786H268.736L265.406 135.85H262.839Z"
            fill="white"/>
      <path d="M281.522 133.376C281.091 133.909 279.7 135.125 279.073 135.487C278.564 135.765 277.898 135.999 277.349 135.999H273.49C272.942 135.999 272.315 135.765 271.904 135.487C271.394 135.125 270.474 133.931 270.199 133.376C270.003 132.886 269.964 132.352 270.082 131.819L272.668 117.786H275.018L272.393 131.947C272.315 132.395 273.294 133.419 273.686 133.632C273.706 133.632 273.765 133.653 273.882 133.653H277.428C277.545 133.653 277.604 133.632 277.624 133.632C278.094 133.419 279.778 132.011 279.876 131.585L282.443 117.786H284.793L282.208 131.819C282.09 132.352 281.914 132.907 281.483 133.376H281.522Z"
            fill="white"/>
      <path d="M294.698 120.132L291.799 135.85H289.409L292.309 120.132H287.392L287.823 117.786H300.027L299.596 120.132H294.698Z"
            fill="white"/>
      <path d="M310.372 135.85L307.629 128.322H303.692L302.301 135.85H299.911L303.241 117.786H311.351C312.017 117.786 312.742 118.021 313.173 118.426C313.526 118.725 314.231 119.663 314.407 120.026C314.603 120.474 314.701 121.135 314.584 121.732L314.074 124.44C313.957 125.037 313.702 125.613 313.271 126.125C312.977 126.488 311.919 127.426 311.449 127.725C311.038 128.002 310.391 128.3 309.98 128.258L312.86 135.85H310.352H310.372ZM312.233 121.604C312.252 121.476 312.252 121.327 312.233 121.241C312.115 120.9 311.626 120.154 311.234 120.132H305.22L304.123 125.976H309.647C310.156 125.976 311.351 125.038 311.626 124.611C311.684 124.526 311.704 124.398 311.743 124.27L312.233 121.583V121.604Z"
            fill="white"/>
      <path d="M316.432 135.85L319.762 117.786H322.152L318.822 135.85H316.432Z" fill="white"/>
      <path d="M332.161 120.132L329.262 135.85H326.872L329.771 120.132H324.854L325.285 117.786H337.49L337.059 120.132H332.161Z"
            fill="white"/>
      <path d="M337.324 135.85L340.654 117.786H343.044L339.714 135.85H337.324Z" fill="white"/>
      <path d="M356.53 133.377C356.099 133.91 354.708 135.126 354.082 135.489C353.572 135.766 352.867 136 352.318 136H347.774C347.225 136 346.618 135.766 346.226 135.489C345.717 135.126 344.757 133.932 344.502 133.377C344.306 132.887 344.306 132.29 344.424 131.778L346.265 121.861C346.344 121.349 346.559 120.752 346.951 120.261C347.382 119.728 348.792 118.491 349.458 118.129C349.968 117.852 350.634 117.617 351.182 117.617H355.727C356.276 117.617 356.902 117.852 357.314 118.129C357.804 118.491 358.724 119.75 358.979 120.261C359.214 120.752 359.214 121.306 359.116 121.861L357.275 131.778C357.157 132.311 356.961 132.887 356.53 133.377ZM356.765 121.754C356.785 121.626 356.765 121.52 356.746 121.456C356.452 120.88 355.943 120.219 355.59 120.048C355.531 120.027 355.453 119.984 355.335 119.984H351.045C350.928 119.984 350.849 120.006 350.791 120.048C350.281 120.283 348.694 121.562 348.577 122.074L346.755 131.927C346.677 132.375 347.558 133.313 347.93 133.59C348.009 133.654 348.107 133.676 348.224 133.676H352.514C352.632 133.676 352.749 133.612 352.808 133.59C353.298 133.356 354.885 132.14 354.963 131.628L356.785 121.776L356.765 121.754Z"
            fill="white"/>
      <path d="M370.211 135.85L365.352 122.052L362.786 135.85H360.455L363.785 117.786H366.352L371.19 131.734L373.776 117.786H376.107L372.777 135.85H370.211Z"
            fill="white"/>
    </svg>
  {% when 'small-stars-red' %}
    <svg xmlns='http://www.w3.org/2000/svg' width='81' height='16' viewBox='0 0 81 16' fill='none'>
      <path d="M7.71805 0L9.45086 5.52786H15.0583L10.5218 8.94427L12.2546 14.4721L7.71805 11.0557L3.18149 14.4721L4.9143 8.94427L0.377748 5.52786H5.98524L7.71805 0Z"
            fill="#EB1000"/>
      <path d="M24.096 0L25.8288 5.52786H31.4363L26.8997 8.94427L28.6325 14.4721L24.096 11.0557L19.5594 14.4721L21.2922 8.94427L16.7557 5.52786H22.3632L24.096 0Z"
            fill="#EB1000"/>
      <path d="M40.4746 0L42.2074 5.52786H47.8149L43.2784 8.94427L45.0112 14.4721L40.4746 11.0557L35.9381 14.4721L37.6709 8.94427L33.1343 5.52786H38.7418L40.4746 0Z"
            fill="#EB1000"/>
      <path d="M56.8529 0L58.5857 5.52786H64.1932L59.6567 8.94427L61.3895 14.4721L56.8529 11.0557L52.3164 14.4721L54.0492 8.94427L49.5126 5.52786H55.1201L56.8529 0Z"
            fill="#EB1000"/>
      <path d="M73.2317 0L74.9645 5.52786H80.572L76.0355 8.94427L77.7683 14.4721L73.2317 11.0557L68.6952 14.4721L70.428 8.94427L65.8914 5.52786H71.4989L73.2317 0Z"
            fill="#EB1000"/>
    </svg>
  {% when 'stars-red' %}
    <svg
      xmlns='http://www.w3.org/2000/svg'
      width='203'
      height='40'
      viewBox='0 0 203 40'
      fill='none'
    >
      <path d="M19.2951 0L23.6271 13.8197H37.6459L26.3045 22.3607L30.6365 36.1803L19.2951 27.6393L7.95373 36.1803L12.2858 22.3607L0.94437 13.8197H14.9631L19.2951 0Z"
            fill="#EB1000"/>
      <path d="M60.2404 0L64.5724 13.8197H78.5912L67.2498 22.3607L71.5818 36.1803L60.2404 27.6393L48.899 36.1803L53.2311 22.3607L41.8897 13.8197H55.9084L60.2404 0Z"
            fill="#EB1000"/>
      <path d="M101.187 0L105.519 13.8197H119.538L108.196 22.3607L112.528 36.1803L101.187 27.6393L89.8454 36.1803L94.1774 22.3607L82.836 13.8197H96.8548L101.187 0Z"
            fill="#EB1000"/>
      <path d="M142.132 0L146.464 13.8197H160.483L149.141 22.3607L153.473 36.1803L142.132 27.6393L130.791 36.1803L135.123 22.3607L123.781 13.8197H137.8L142.132 0Z"
            fill="#EB1000"/>
      <path d="M183.078 0L187.41 13.8197H201.429L190.088 22.3607L194.42 36.1803L183.078 27.6393L171.737 36.1803L176.069 22.3607L164.728 13.8197H178.746L183.078 0Z"
            fill="#EB1000"/>
    </svg>
  {% when 'verivied' %}
    <svg xmlns='http://www.w3.org/2000/svg' width='12' height='12' viewBox='0 0 12 12' fill='none'>
      <path d="M5.16 8.76L9.39 4.53L8.55 3.69L5.16 7.08L3.45 5.37L2.61 6.21L5.16 8.76ZM6 12C5.17 12 4.39 11.8424 3.66 11.5272C2.93 11.212 2.295 10.7846 1.755 10.245C1.215 9.705 0.7876 9.07 0.4728 8.34C0.158 7.61 0.0004 6.83 0 6C0 5.17 0.1576 4.39 0.4728 3.66C0.788 2.93 1.2154 2.295 1.755 1.755C2.295 1.215 2.93 0.7876 3.66 0.4728C4.39 0.158 5.17 0.0004 6 0C6.83 0 7.61 0.1576 8.34 0.4728C9.07 0.788 9.705 1.2154 10.245 1.755C10.785 2.295 11.2126 2.93 11.5278 3.66C11.843 4.39 12.0004 5.17 12 6C12 6.83 11.8424 7.61 11.5272 8.34C11.212 9.07 10.7846 9.705 10.245 10.245C9.705 10.785 9.07 11.2126 8.34 11.5278C7.61 11.843 6.83 12.0004 6 12Z"
            fill="#9A9A9A"/>
    </svg>
  {% when 'black-stars' %}
    <svg xmlns='http://www.w3.org/2000/svg' width='80' height='16' viewBox='0 0 80 16' fill='none'>
      <path d="M8 0L9.79611 5.52786H15.6085L10.9062 8.94427L12.7023 14.4721L8 11.0557L3.29772 14.4721L5.09383 8.94427L0.391548 5.52786H6.20389L8 0Z"
            fill="black"/>
      <path d="M24 0L25.7961 5.52786H31.6085L26.9062 8.94427L28.7023 14.4721L24 11.0557L19.2977 14.4721L21.0938 8.94427L16.3915 5.52786H22.2039L24 0Z"
            fill="black"/>
      <path d="M40 0L41.7961 5.52786H47.6085L42.9062 8.94427L44.7023 14.4721L40 11.0557L35.2977 14.4721L37.0938 8.94427L32.3915 5.52786H38.2039L40 0Z"
            fill="black"/>
      <path d="M56 0L57.7961 5.52786H63.6085L58.9062 8.94427L60.7023 14.4721L56 11.0557L51.2977 14.4721L53.0938 8.94427L48.3915 5.52786H54.2039L56 0Z"
            fill="black"/>
      <path d="M72 0L73.7961 5.52786H79.6085L74.9062 8.94427L76.7023 14.4721L72 11.0557L67.2977 14.4721L69.0938 8.94427L64.3915 5.52786H70.2039L72 0Z"
            fill="black"/>
    </svg>
  {% when 'white-left-arrow' %}
    <svg
      xmlns='http://www.w3.org/2000/svg'
      width='100%'
      height='100%'
      viewBox='0 0 48 48'
      fill='none'
      {% if icon_click_id != blank -%}
        data-click-id='{{ icon_click_id }}'
      {%- endif %}
    >
      <path d="M34.7844 24.1398L25.2704 33.1013H22.0484L30.4377 25.2414H15.1484V23.0084H30.5289L22.0484 15.1484H25.2704L34.7844 24.1398Z"
            {% if icon_click_id != blank -%}data-click-id="{{ icon_click_id }}"{%- endif %}
            fill="white"/>
      <circle cx="23.8437" cy="23.8437" r="22.7216" stroke="white" stroke-width="2.24411"
              {% if icon_click_id != blank -%}data-click-id="{{ icon_click_id }}"{%- endif %}
      />
    </svg>
  {% when 'buttom-arrow' %}
    <svg
      xmlns='http://www.w3.org/2000/svg'
      width='16'
      height='16'
      viewBox='0 0 16 16'
      fill='none'
      {% if icon_click_id != blank -%}
        data-click-id='{{ icon_click_id }}'
      {%- endif %}
    >
      <path d="M8 9.28736L12.6669 4.53928L14 5.8956L8 12L2 5.8956L3.33312 4.53928L8 9.28736Z" fill="black"
            {% if icon_click_id != blank -%}data-click-id="{{ icon_click_id }}"{%- endif %}
      />
    </svg>
  {% when 'left-arrow' %}
    <svg
      xmlns='http://www.w3.org/2000/svg'
      width='14'
      height='22'
      viewBox='0 0 14 22'
      fill='none'
      {% if icon_click_id != blank -%}
        data-click-id='{{ icon_click_id }}'
      {%- endif %}
    >
      <path d="M11.0525 2.89509L3.00004 10.9475L11.0525 19" stroke="black" stroke-width="3"
            stroke-linecap="square"
            {% if icon_click_id != blank -%}data-click-id="{{ icon_click_id }}"{%- endif %}
      />
    </svg>
  {% when 'right-arrow' %}
    <svg
      xmlns='http://www.w3.org/2000/svg'
      width='14'
      height='22'
      viewBox='0 0 14 22'
      fill='none'
      {% if icon_click_id != blank -%}
        data-click-id='{{ icon_click_id }}'
      {%- endif %}
    >
      <path d="M3 19.1225L11.0525 11.07L3 3.01758" stroke="black" stroke-width="3"
            stroke-linecap="square"
            {% if icon_click_id != blank -%}data-click-id="{{ icon_click_id }}"{%- endif %}
      />
    </svg>
  {% when 'white-right-arrow' %}
    <svg
      xmlns='http://www.w3.org/2000/svg'
      width='14'
      height='22'
      viewBox='0 0 14 22'
      fill='none'
      {% if icon_click_id != blank -%}
        data-click-id='{{ icon_click_id }}'
      {%- endif %}
    >
      <path d="M3 19.1225L11.0525 11.07L3 3.01758" stroke="white" stroke-width="3"
            stroke-linecap="square"
            {% if icon_click_id != blank -%}data-click-id="{{ icon_click_id }}"{%- endif %}
      />
    </svg>
  {% when 'check' %}
    <svg xmlns='http://www.w3.org/2000/svg' width='10' height='8' viewBox='0 0 10 8' fill='none'>
      <path d="M3.66681 6.11714L8.96306 0L9.77778 0.941098L3.66681 8L0 3.76439L0.814719 2.82329L3.66681 6.11714Z"
            fill="black"/>
    </svg>
  {% when 'plus' %}
    <svg width='32' height='32' viewBox='0 0 32 32' fill='none' xmlns='http://www.w3.org/2000/svg'>
      <circle cx="16" cy="16" r="15.5" stroke="#444444"/>
      <path d="M23 17.0075H17.1341V23H14.8399V17.0075H9V14.9664H14.8399V9H17.1341V14.9664H23V17.0075Z"
            fill="white"/>
    </svg>

  {% when 'cross-icon' %}
    <svg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16' fill='none'>
      <rect width="16" height="16" fill="white"/>
      <path d="M1.6 16L0 14.4L6.4 8L0 1.6L1.6 0L8 6.4L14.4 0L16 1.6L9.6 8L16 14.4L14.4 16L8 9.6L1.6 16Z"
            fill="black"/>
    </svg>
  {% when 'small-logo' %}
    <svg
      class='{{ icon_class }}'
      xmlns='http://www.w3.org/2000/svg'
      width='82'
      height='28'
      viewBox='0 0 82 28'
      fill='none'
    >
      <path d="M45.1177 10.8897C45.7912 10.4901 46.0856 9.8886 46.3437 8.35185C46.6139 6.74923 46.4405 6.08184 45.6621 5.77888C45.2427 5.61203 45.1782 5.61203 42.3469 5.5769H34.2444L33.2886 11.2541H41.3911C44.3957 11.219 44.5248 11.219 45.1217 10.8853L45.1177 10.8897Z"
            fill="black"/>
      <path d="M29.6522 5.81333C30.3338 1.76947 29.4223 0.368822 25.9861 0.100987C25.3542 0.0570795 23.3605 0.0234172 20.005 0H4.72357L0.96875 22.2786H16.2824C23.4331 22.2435 23.7921 22.2127 25.0786 21.778C27.075 21.1106 28.1478 19.4729 28.6802 16.2984C29.2811 12.7243 28.6399 11.4203 25.9175 10.9198C28.1639 10.2831 29.1158 8.98344 29.6481 5.80894L29.6522 5.81333ZM22.6184 14.9987C22.4611 15.934 22.1546 16.4345 21.5698 16.6672C21.2257 16.8224 19.7643 16.9116 17.1858 16.9351H8.03071L8.65584 13.2293H17.811C20.3169 13.2527 21.672 13.2864 21.8763 13.3303C22.5821 13.4971 22.7919 13.9669 22.6144 14.9987H22.6184ZM23.175 6.95053C23.0419 7.75403 22.7193 8.32044 22.2071 8.52241C21.7594 8.72439 20.8237 8.79025 18.5248 8.79025H9.39793L9.99483 5.25132H19.1217C22.0498 5.28644 22.1466 5.28644 22.4853 5.3523C23.1266 5.51915 23.3283 6.0197 23.171 6.95492L23.175 6.95053Z"
            fill="black"/>
      <path d="M74.8915 0L72.2538 16.6014H71.5843L63.2479 0H48.6965V0.153676C48.8013 0.166848 48.9102 0.184411 49.0232 0.197583C50.2371 0.395166 51.1405 0.71569 51.802 1.22062C52.1166 1.46211 52.3827 1.74312 52.5844 2.07682C52.6207 2.14268 52.661 2.20854 52.6933 2.27879C52.7255 2.34465 52.7618 2.40612 52.7901 2.47637C52.7901 2.48516 52.7941 2.48955 52.7981 2.49833C52.8102 2.52906 52.8223 2.56419 52.8344 2.59931C52.8707 2.69591 52.907 2.7969 52.9393 2.89788C52.9595 2.96375 52.9796 3.03839 52.9958 3.10864C52.9998 3.13059 53.0038 3.15255 53.0119 3.17011C53.0401 3.28866 53.0643 3.40721 53.0845 3.53454C53.0845 3.54771 53.0885 3.56528 53.0926 3.57845C53.1047 3.65748 53.1127 3.74091 53.1248 3.82433C53.1248 3.82433 53.1248 3.82872 53.1248 3.83311C53.141 3.96922 53.1531 4.11412 53.1611 4.2634C53.1611 4.2634 53.1611 4.26779 53.1611 4.27218C53.1652 4.36878 53.1692 4.46538 53.1732 4.56197C53.1732 4.71565 53.1732 4.8781 53.1732 5.04495C53.1732 5.14594 53.1732 5.24693 53.1652 5.34791C53.1652 5.36548 53.1652 5.37865 53.1652 5.39621C53.1571 5.56745 53.145 5.74747 53.1289 5.92749C53.1208 6.04165 53.1127 6.15581 53.1006 6.27436C53.0805 6.4895 53.0522 6.71343 53.024 6.94614C53.0119 7.02517 53.0038 7.10421 52.9958 7.18763C52.9877 7.24032 52.9796 7.29301 52.9756 7.3457C52.9312 7.67061 52.8788 7.99992 52.8223 8.35557C52.7739 8.64096 52.7255 8.91319 52.6731 9.18102C52.657 9.27323 52.6368 9.36104 52.6167 9.45325C52.5844 9.6201 52.5481 9.78695 52.5158 9.94501C52.4876 10.0636 52.4634 10.1821 52.4352 10.2963C52.411 10.3929 52.3908 10.4895 52.3666 10.5861C52.3343 10.7134 52.3021 10.8363 52.2698 10.9549C52.2496 11.0339 52.2254 11.1129 52.2053 11.192C52.169 11.3193 52.1327 11.4423 52.0964 11.5652C52.0762 11.6267 52.0561 11.6925 52.0359 11.754C51.9956 11.8813 51.9512 12.0087 51.9109 12.1272C51.8947 12.1755 51.8746 12.2238 51.8584 12.2721C51.81 12.3994 51.7616 12.5268 51.7132 12.6453C51.6971 12.6804 51.685 12.7156 51.6689 12.7507C51.6164 12.878 51.56 13.001 51.5035 13.1195C51.4914 13.1415 51.4793 13.1678 51.4713 13.1898C51.4108 13.3171 51.3462 13.44 51.2817 13.5542C51.2736 13.5674 51.2656 13.5805 51.2615 13.5937C51.1889 13.7167 51.1163 13.8396 51.0437 13.9538C51.0437 13.9538 51.0437 13.9581 51.0397 13.9625C50.5557 14.7002 49.975 15.2446 49.2611 15.6617C48.9062 15.8725 48.519 16.0481 48.0955 16.2018C47.906 16.2633 47.7164 16.3204 47.5228 16.373C47.4261 16.3994 47.3252 16.4213 47.2284 16.4477C46.8251 16.5399 46.3895 16.6145 45.8693 16.6672C45.7402 16.6804 45.6031 16.6936 45.4619 16.7067C45.1796 16.7287 44.8731 16.7506 44.5384 16.7682C43.5301 16.8165 42.2476 16.8385 40.5254 16.8385H32.3584L31.4711 22.1117L31.4429 22.283H54.7582L57.3999 5.64648H58.1017L66.4986 22.283H77.763L81.4977 0H74.8915Z"
            fill="black"/>
      <path d="M2.46422 27.5082C2.40373 27.5829 2.18594 27.7761 2.08915 27.8375C1.96412 27.9166 1.8028 27.9693 1.6697 27.9693H0L0.685627 24.2503H2.35533C2.49649 24.2503 2.63361 24.3074 2.73041 24.3864C2.80301 24.4479 2.9482 24.6367 2.98449 24.7069C3.03289 24.8123 3.03289 24.944 3.00869 25.067L2.924 25.5192C2.87157 25.809 2.71831 25.9407 2.50859 26.0812C2.64975 26.2569 2.76267 26.371 2.71428 26.6433L2.62152 27.157C2.59732 27.2799 2.54489 27.3985 2.46019 27.5038L2.46422 27.5082ZM2.23837 26.6213C2.2424 26.5906 2.23837 26.5642 2.23837 26.5598C2.21014 26.4852 2.10931 26.3622 2.06091 26.3315C2.05688 26.3271 2.03268 26.3271 2.00042 26.3271H0.794521L0.580767 27.4863H1.72213C1.83506 27.4863 2.05285 27.2711 2.11738 27.1833C2.12141 27.1789 2.13351 27.1526 2.14158 27.1218L2.23434 26.6257L2.23837 26.6213ZM2.52875 25.0362C2.53279 25.0055 2.53279 24.9792 2.52875 24.9748C2.50052 24.887 2.39163 24.7333 2.29887 24.7333H1.08894L0.883249 25.8485H2.03268C2.13754 25.8485 2.37146 25.6334 2.42793 25.5456C2.43196 25.5412 2.44406 25.5061 2.45213 25.4753L2.52875 25.0362Z"
            fill="black"/>
      <path d="M5.60124 27.9693L5.48832 27.1394H3.94767L3.52016 27.9693H2.98779L4.91158 24.2503H5.55285L6.10135 27.9693H5.59721H5.60124ZM5.1576 24.7684L4.19369 26.6608H5.42379L5.1576 24.7684Z"
            fill="black"/>
      <path d="M8.78844 27.9693L8.22381 26.4193H7.41315L7.1268 27.9693H6.63477L7.32039 24.2503H8.9901C9.12722 24.2503 9.27645 24.2986 9.36517 24.382C9.43777 24.4435 9.58296 24.6367 9.61926 24.7113C9.65959 24.8035 9.67976 24.9397 9.65556 25.0626L9.5507 25.6202C9.5265 25.7432 9.47407 25.8617 9.38534 25.9671C9.32484 26.0417 9.10706 26.2349 9.01026 26.2964C8.92557 26.3535 8.79247 26.4149 8.70778 26.4062L9.30064 27.9693H8.78441H8.78844ZM9.17159 25.0362C9.17562 25.0099 9.17562 24.9792 9.17159 24.9616C9.14739 24.8914 9.04656 24.7377 8.9659 24.7333H7.72774L7.50188 25.9363H8.63922C8.74408 25.9363 8.9901 25.7432 9.04656 25.6553C9.05866 25.6378 9.06269 25.6114 9.07076 25.5851L9.17159 25.0319V25.0362Z"
            fill="black"/>
      <path d="M10.0464 27.9693L10.732 24.2503H12.9099L12.8212 24.7333H11.1313L10.9175 25.8661H12.5106L12.4219 26.3491H10.8288L10.6231 27.4819H12.313L12.2243 27.9649H10.0464V27.9693Z"
            fill="black"/>
      <path d="M17.1934 25.9671C17.1329 26.0417 16.9071 26.2349 16.8143 26.2964C16.6893 26.3754 16.536 26.4193 16.3989 26.4193H15.2213L14.9349 27.9693H14.4429L15.1285 24.2503H16.7982C16.9353 24.2503 17.0846 24.2986 17.1733 24.382C17.2459 24.4435 17.3911 24.6367 17.4274 24.7113C17.4677 24.8167 17.4879 24.9397 17.4637 25.0626L17.3588 25.6202C17.3346 25.7432 17.2822 25.8617 17.1934 25.9671ZM16.9797 25.0187C16.9837 24.9879 16.9837 24.9572 16.9837 24.9484C16.9837 24.8914 16.8426 24.7333 16.7821 24.7333H15.5318L15.306 25.9363H16.4312C16.536 25.9363 16.7821 25.7212 16.8506 25.6466C16.8627 25.6334 16.8748 25.6114 16.8789 25.5763L16.9757 25.0187H16.9797Z"
            fill="black"/>
      <path d="M17.6328 27.9693L18.3184 24.2503H20.4963L20.4076 24.7333H18.7177L18.504 25.8661H20.097L20.0083 26.3491H18.4152L18.2095 27.4819H19.8994L19.8107 27.9649H17.6328V27.9693Z"
            fill="black"/>
      <path d="M22.8085 27.9693L22.2438 26.4193H21.4332L21.1468 27.9693H20.6548L21.3404 24.2503H23.0101C23.1472 24.2503 23.2965 24.2986 23.3852 24.382C23.4578 24.4435 23.603 24.6367 23.6393 24.7113C23.6796 24.8035 23.6998 24.9397 23.6756 25.0626L23.5707 25.6202C23.5465 25.7432 23.4941 25.8617 23.4054 25.9671C23.3449 26.0417 23.1271 26.2349 23.0303 26.2964C22.9456 26.3535 22.8125 26.4149 22.7278 26.4062L23.3207 27.9693H22.8044H22.8085ZM23.1916 25.0362C23.1956 25.0099 23.1956 24.9792 23.1916 24.9616C23.1674 24.8914 23.0666 24.7377 22.9859 24.7333H21.7478L21.5219 25.9363H22.6592C22.7641 25.9363 23.0101 25.7432 23.0666 25.6553C23.0787 25.6378 23.0827 25.6114 23.0908 25.5851L23.1916 25.0319V25.0362Z"
            fill="black"/>
      <path d="M25.1544 24.7333L24.9406 25.8661H26.5337L26.445 26.3491H24.8519L24.5575 27.9693H24.0654L24.7511 24.2503H26.9249L26.8362 24.7333H25.1544Z"
            fill="black"/>
      <path d="M29.5803 27.4593C29.4915 27.5691 29.2052 27.8193 29.0761 27.894C28.9713 27.9511 28.8261 27.9993 28.7131 27.9993H27.7775C27.6645 27.9993 27.5395 27.9511 27.4588 27.894C27.354 27.8193 27.1564 27.5734 27.1039 27.4593C27.0636 27.3583 27.0636 27.2354 27.0878 27.13L27.4669 25.0883C27.483 24.9829 27.5274 24.86 27.6081 24.759C27.6968 24.6492 27.9872 24.3946 28.1243 24.3199C28.2292 24.2628 28.3663 24.2145 28.4792 24.2145H29.4149C29.5278 24.2145 29.6569 24.2628 29.7416 24.3199C29.8424 24.3946 30.032 24.6536 30.0844 24.759C30.1328 24.86 30.1328 24.9741 30.1126 25.0883L29.7335 27.13C29.7093 27.2398 29.669 27.3583 29.5803 27.4593ZM29.6287 25.0663C29.6327 25.04 29.6287 25.018 29.6246 25.0049C29.5641 24.8863 29.4593 24.7502 29.3867 24.7151C29.3746 24.7107 29.3584 24.7019 29.3342 24.7019H28.451C28.4268 24.7019 28.4107 24.7063 28.3986 24.7151C28.2937 24.7634 27.967 25.0268 27.9428 25.1322L27.5677 27.1607C27.5516 27.2529 27.7331 27.4461 27.8097 27.5032C27.8259 27.5164 27.846 27.5208 27.8702 27.5208H28.7535C28.7777 27.5208 28.8019 27.5076 28.814 27.5032C28.9148 27.4549 29.2415 27.2046 29.2576 27.0992L29.6327 25.0707L29.6287 25.0663Z"
            fill="black"/>
      <path d="M32.5384 27.9693L31.9738 26.4193H31.1632L30.8768 27.9693H30.3848L31.0704 24.2503H32.7401C32.8772 24.2503 33.0264 24.2986 33.1152 24.382C33.1878 24.4435 33.333 24.6367 33.3693 24.7113C33.4096 24.8035 33.4298 24.9397 33.4056 25.0626L33.3007 25.6202C33.2765 25.7432 33.2241 25.8617 33.1353 25.9671C33.0748 26.0417 32.8571 26.2349 32.7603 26.2964C32.6756 26.3535 32.5425 26.4149 32.4578 26.4062L33.0506 27.9693H32.5344H32.5384ZM32.9216 25.0362C32.9256 25.0099 32.9256 24.9792 32.9216 24.9616C32.8974 24.8914 32.7966 24.7377 32.7159 24.7333H31.4777L31.2519 25.9363H32.3892C32.4941 25.9363 32.7401 25.7432 32.7966 25.6553C32.8087 25.6378 32.8127 25.6114 32.8208 25.5851L32.9216 25.0319V25.0362Z"
            fill="black"/>
      <path d="M36.4421 27.9693L36.9866 25.0099L35.6879 27.0077H35.3693L34.8208 25.0099L34.2763 27.9693H33.7964L34.482 24.2503H35.0668L35.6395 26.2788L36.9664 24.2503H37.5996L36.914 27.9693H36.4421Z"
            fill="black"/>
      <path d="M40.0802 27.9693L39.9673 27.1394H38.4267L37.9992 27.9693H37.4668L39.3906 24.2503H40.0318L40.5803 27.9693H40.0762H40.0802ZM39.6366 24.7684L38.6727 26.6608H39.9028L39.6366 24.7684Z"
            fill="black"/>
      <path d="M43.1276 27.9693L42.1274 25.1285L41.5991 27.9693H41.1191L41.8048 24.2503H42.3331L43.3293 27.1218L43.8617 24.2503H44.3416L43.656 27.9693H43.1276Z"
            fill="black"/>
      <path d="M46.9132 27.4944C46.6994 27.7183 46.405 27.995 46.0945 27.995H45.3121C45.1991 27.995 45.0701 27.9467 44.9854 27.8896C44.8805 27.8149 44.691 27.5691 44.6345 27.4549C44.5942 27.3539 44.5861 27.2398 44.6103 27.1256L44.9894 25.0795C45.0055 24.9697 45.0539 24.8556 45.1386 24.759C45.2274 24.6536 45.5137 24.3946 45.6468 24.3199C45.7517 24.2628 45.8888 24.2145 46.0017 24.2145H46.7882C47.0947 24.2145 47.2963 24.4868 47.4173 24.7151C47.4536 24.7766 47.4899 24.8688 47.5303 25.0312L47.0584 25.1673C47.0221 24.9829 46.8769 24.7897 46.7559 24.7019C46.7559 24.7019 46.7438 24.6975 46.7075 24.6975H45.9775C45.9533 24.6975 45.9493 24.6975 45.9372 24.7019C45.8444 24.7458 45.5823 24.961 45.4855 25.0883C45.4693 25.1059 45.4492 25.242 45.4451 25.2727L45.0943 27.1651C45.0781 27.2661 45.2596 27.4637 45.3363 27.5076C45.3484 27.512 45.3524 27.512 45.3766 27.512H46.1227C46.159 27.512 46.1711 27.5076 46.1711 27.5076C46.3123 27.4329 46.5542 27.2266 46.6551 27.0378L47.131 27.1739C47.0705 27.2837 46.9898 27.411 46.9051 27.4944H46.9132Z"
            fill="black"/>
      <path d="M47.7036 27.9693L48.3892 24.2503H50.5671L50.4784 24.7333H48.7885L48.5748 25.8661H50.1678L50.0791 26.3491H48.486L48.2803 27.4819H49.9702L49.8815 27.9649H47.7036V27.9693Z"
            fill="black"/>
      <path d="M54.114 27.9693L53.1137 25.1285L52.5854 27.9693H52.1055L52.7911 24.2503H53.3194L54.3156 27.1218L54.848 24.2503H55.3279L54.6423 27.9693H54.114Z"
            fill="black"/>
      <path d="M57.9598 27.4599C57.871 27.5697 57.5847 27.82 57.4556 27.8946C57.3508 27.9517 57.2136 28 57.1007 28H56.3062C56.1933 28 56.0642 27.9517 55.9795 27.8946C55.8747 27.82 55.6851 27.5741 55.6286 27.4599C55.5883 27.3589 55.5802 27.2492 55.6044 27.1394L56.1368 24.2503H56.6208L56.0803 27.1658C56.0642 27.258 56.2659 27.4687 56.3465 27.5126C56.3506 27.5126 56.3627 27.517 56.3869 27.517H57.1168C57.141 27.517 57.1531 27.5126 57.1572 27.5126C57.254 27.4687 57.6008 27.1789 57.621 27.0911L58.1493 24.2503H58.6333L58.1009 27.1394C58.0767 27.2492 58.0404 27.3633 57.9517 27.4599H57.9598Z"
            fill="black"/>
      <path d="M60.6738 24.7333L60.0769 27.9693H59.5848L60.1817 24.7333H59.1694L59.2582 24.2503H61.7708L61.6821 24.7333H60.6738Z"
            fill="black"/>
      <path d="M63.8998 27.9693L63.3351 26.4193H62.5245L62.2381 27.9693H61.7461L62.4317 24.2503H64.1014C64.2386 24.2503 64.3878 24.2986 64.4765 24.382C64.5491 24.4435 64.6943 24.6367 64.7306 24.7113C64.7709 24.8035 64.7911 24.9397 64.7669 25.0626L64.662 25.6202C64.6378 25.7432 64.5854 25.8617 64.4967 25.9671C64.4362 26.0417 64.2184 26.2349 64.1216 26.2964C64.0369 26.3535 63.9038 26.4149 63.8191 26.4062L64.412 27.9693H63.8957H63.8998ZM64.2829 25.0362C64.2869 25.0099 64.2869 24.9792 64.2829 24.9616C64.2587 24.8914 64.1579 24.7377 64.0772 24.7333H62.8391L62.6132 25.9363H63.7505C63.8554 25.9363 64.1014 25.7432 64.1579 25.6553C64.17 25.6378 64.174 25.6114 64.1821 25.5851L64.2829 25.0319V25.0362Z"
            fill="black"/>
      <path d="M65.1475 27.9693L65.8331 24.2503H66.3251L65.6395 27.9693H65.1475Z" fill="black"/>
      <path d="M68.3862 24.7333L67.7893 27.9693H67.2972L67.8941 24.7333H66.8818L66.9706 24.2503H69.4832L69.3945 24.7333H68.3862Z"
            fill="black"/>
      <path d="M69.4497 27.9693L70.1353 24.2503H70.6274L69.9417 27.9693H69.4497Z" fill="black"/>
      <path d="M73.402 27.4593C73.3133 27.5691 73.027 27.8193 72.8979 27.894C72.793 27.9511 72.6479 27.9993 72.5349 27.9993H71.5992C71.4863 27.9993 71.3613 27.9511 71.2806 27.894C71.1758 27.8193 70.9781 27.5734 70.9257 27.4593C70.8854 27.3583 70.8854 27.2354 70.9096 27.13L71.2887 25.0883C71.3048 24.9829 71.3492 24.86 71.4298 24.759C71.5186 24.6492 71.809 24.3946 71.9461 24.3199C72.0509 24.2628 72.1881 24.2145 72.301 24.2145H73.2367C73.3496 24.2145 73.4787 24.2628 73.5634 24.3199C73.6642 24.3946 73.8537 24.6536 73.9062 24.759C73.9546 24.86 73.9546 24.9741 73.9344 25.0883L73.5553 27.13C73.5311 27.2398 73.4908 27.3583 73.402 27.4593ZM73.4504 25.0663C73.4545 25.04 73.4504 25.018 73.4464 25.0049C73.3859 24.8863 73.281 24.7502 73.2085 24.7151C73.1964 24.7107 73.1802 24.7019 73.156 24.7019H72.2728C72.2486 24.7019 72.2324 24.7063 72.2203 24.7151C72.1155 24.7634 71.7888 25.0268 71.7646 25.1322L71.3895 27.1607C71.3734 27.2529 71.5549 27.4461 71.6315 27.5032C71.6476 27.5164 71.6678 27.5208 71.692 27.5208H72.5753C72.5994 27.5208 72.6237 27.5076 72.6358 27.5032C72.7366 27.4549 73.0633 27.2046 73.0794 27.0992L73.4545 25.0707L73.4504 25.0663Z"
            fill="black"/>
      <path d="M76.2204 27.9693L75.2202 25.1285L74.6919 27.9693H74.2119L74.8975 24.2503H75.4259L76.4221 27.1218L76.9544 24.2503H77.4344L76.7487 27.9693H76.2204Z"
            fill="black"/>
    </svg>
  {% when 'menu' %}
    <svg
      class='{{ icon_class }}'
      xmlns='http://www.w3.org/2000/svg'
      width='20'
      height='16'
      viewBox='0 0 20 16'
      fill='none'
      {% if icon_click_id != blank -%}
        data-click-id='{{ icon_click_id }}'
      {%- endif %}
    >
      <rect width="20" height="3" fill="black"
            {% if icon_click_id != blank -%}data-click-id="{{ icon_click_id }}"{%- endif %}/>
      <rect y="12.7012" width="20" height="3" fill="black"
            {% if icon_click_id != blank -%}data-click-id="{{ icon_click_id }}"{%- endif %}/>
      <rect y="6.35156" width="20" height="3" fill="black"
            {% if icon_click_id != blank -%}data-click-id="{{ icon_click_id }}"{%- endif %}/>
    </svg>
  {% when 'header-search' %}
    <svg
      class='{{ icon_class }}'
      xmlns='http://www.w3.org/2000/svg'
      width='18'
      height='18'
      viewBox='0 0 18 18'
      fill='none'
      {% if icon_click_id != blank -%}
        data-click-id='{{ icon_click_id }}'
      {%- endif %}
    >
      <g clip-path="url(#clip0_451_714)">
          <path fill-rule="evenodd" clip-rule="evenodd"
                d="M5.40686 1.45559C6.29255 1.08872 7.24182 0.899902 8.20048 0.899902C9.15914 0.899902 10.1084 1.08872 10.9941 1.45559C11.8798 1.82245 12.6845 2.36017 13.3624 3.03805C14.0403 3.71593 14.578 4.52068 14.9449 5.40637C15.3118 6.29206 15.5006 7.24133 15.5006 8.19999C15.5006 9.15866 15.3118 10.1079 14.9449 10.9936C14.6934 11.6008 14.3616 12.1699 13.9594 12.6862L16.8368 15.5635C17.1883 15.915 17.1883 16.4848 16.8368 16.8363C16.4853 17.1878 15.9155 17.1878 15.564 16.8363L12.6867 13.959C11.4113 14.9525 9.83413 15.5001 8.20048 15.5001C6.26438 15.5001 4.40757 14.731 3.03854 13.3619C1.66951 11.9929 0.900391 10.1361 0.900391 8.19999C0.900391 6.26389 1.66951 4.40708 3.03854 3.03805C3.71641 2.36017 4.52117 1.82245 5.40686 1.45559ZM8.20048 2.6999C7.4782 2.6999 6.76299 2.84217 6.09569 3.11857C5.42839 3.39498 4.82206 3.80011 4.31133 4.31084C3.27986 5.34231 2.70039 6.74128 2.70039 8.19999C2.70039 9.65871 3.27986 11.0577 4.31133 12.0891C5.3428 13.1206 6.74177 13.7001 8.20048 13.7001C9.6592 13.7001 11.0582 13.1206 12.0896 12.0891C12.6004 11.5784 13.0055 10.9721 13.2819 10.3048C13.5583 9.63749 13.7006 8.92228 13.7006 8.19999C13.7006 7.47771 13.5583 6.7625 13.2819 6.0952C13.0055 5.4279 12.6004 4.82157 12.0896 4.31084C11.5789 3.80011 10.9726 3.39498 10.3053 3.11857C9.63797 2.84217 8.92276 2.6999 8.20048 2.6999Z"
                fill="black"/>
      </g>
      <defs>
          <clipPath id="clip0_451_714">
              <rect width="18" height="18" fill="white"/>
          </clipPath>
      </defs>
    </svg>
  {% when 'account' %}
    <svg
      class='{{ icon_class }}'
      xmlns='http://www.w3.org/2000/svg'
      width='18'
      height='18'
      viewBox='0 0 18 18'
      fill='none'
      {% if icon_click_id != blank -%}
        data-click-id='{{ icon_click_id }}'
      {%- endif %}
    >
      <path fill-rule="evenodd" clip-rule="evenodd"
            d="M9.00039 2.5199C7.86701 2.51969 6.75339 2.81676 5.77069 3.38144C4.788 3.94612 3.97059 4.75867 3.40007 5.73799C2.82955 6.71731 2.52586 7.82914 2.51932 8.9625C2.51278 10.0959 2.80361 11.2111 3.3628 12.197C3.74075 11.7058 4.2266 11.3081 4.78279 11.0346C5.33899 10.7611 5.95061 10.6192 6.57039 10.6199H11.4304C12.0502 10.6192 12.6618 10.7611 13.218 11.0346C13.7742 11.3081 14.26 11.7058 14.638 12.197C15.1972 11.2111 15.488 10.0959 15.4815 8.9625C15.4749 7.82914 15.1712 6.71731 14.6007 5.73799C14.0302 4.75867 13.2128 3.94612 12.2301 3.38144C11.2474 2.81676 10.1338 2.51969 9.00039 2.5199ZM15.4342 13.9215C16.5172 12.5096 17.103 10.7793 17.1004 8.9999C17.1004 4.52627 13.474 0.899902 9.00039 0.899902C4.52677 0.899902 0.9004 4.52627 0.9004 8.9999C0.897726 10.7793 1.48352 12.5096 2.56657 13.9215L2.56252 13.936L2.85007 14.2706C3.60975 15.1587 4.553 15.8716 5.61478 16.3601C6.67657 16.8485 7.83164 17.1009 9.00039 17.0999C10.6425 17.1029 12.2464 16.6041 13.5971 15.6702C14.173 15.2724 14.6951 14.8019 15.1507 14.2706L15.4383 13.936L15.4342 13.9215ZM9.00039 4.1399C8.35592 4.1399 7.73784 4.39592 7.28212 4.85163C6.82641 5.30734 6.57039 5.92542 6.57039 6.5699C6.57039 7.21437 6.82641 7.83245 7.28212 8.28817C7.73784 8.74388 8.35592 8.9999 9.00039 8.9999C9.64487 8.9999 10.2629 8.74388 10.7187 8.28817C11.1744 7.83245 11.4304 7.21437 11.4304 6.5699C11.4304 5.92542 11.1744 5.30734 10.7187 4.85163C10.2629 4.39592 9.64487 4.1399 9.00039 4.1399Z"
            fill="black"/>
    </svg>
  {% when 'bag' %}
    <svg
      class='{{ icon_class }}'
      xmlns='http://www.w3.org/2000/svg'
      width='18'
      height='18'
      viewBox='0 0 18 18'
      fill='none'
      {% if icon_click_id != blank -%}
        data-click-id='{{ icon_click_id }}'
      {%- endif %}
    >
      <path fill-rule="evenodd" clip-rule="evenodd"
            d="M6.06408 5.3999C6.06408 4.68382 6.34854 3.99706 6.85489 3.49071C7.36123 2.98437 8.04798 2.6999 8.76406 2.6999C9.48014 2.6999 10.1669 2.98437 10.6732 3.49071C11.1796 3.99706 11.464 4.68382 11.464 5.3999H6.06408ZM4.26409 5.3999C4.26409 4.20643 4.73819 3.06184 5.5821 2.21792C6.42601 1.37401 7.5706 0.899902 8.76406 0.899902C9.95753 0.899902 11.1021 1.37401 11.946 2.21792C12.7899 3.06184 13.264 4.20643 13.264 5.3999H15.964C16.089 5.3999 16.2127 5.42594 16.3271 5.47637C16.4415 5.52679 16.5441 5.60051 16.6285 5.6928C16.7128 5.78509 16.777 5.89395 16.8169 6.01242C16.8569 6.13089 16.8717 6.25639 16.8604 6.3809L16.1089 14.6447C16.0478 15.3155 15.7382 15.9393 15.2408 16.3936C14.7435 16.8478 14.0942 17.0998 13.4206 17.0999H4.10749C3.43389 17.0998 2.78467 16.8478 2.28729 16.3936C1.7899 15.9393 1.48028 15.3155 1.41921 14.6447L0.667715 6.3809C0.656463 6.25639 0.671277 6.13089 0.711212 6.01242C0.751147 5.89395 0.815327 5.78509 0.899662 5.6928C0.983996 5.60051 1.08663 5.52679 1.20104 5.47637C1.31544 5.42594 1.43909 5.3999 1.56411 5.3999H4.26409Z"
            fill="black"
            {% if icon_click_id != blank -%}data-click-id="{{ icon_click_id }}"{%- endif %}
      />
    </svg>
  {% when 'minus-header' %}
    <svg
      class='{{ icon_class }}'
      width='8'
      height='2'
      viewBox='0 0 8 2'
      fill='none'
      xmlns='http://www.w3.org/2000/svg'
      {% if icon_click_id != blank -%}
        data-click-id='{{ icon_click_id }}'
      {%- endif %}
    >
      <rect width="8" height="2" fill="#D9D9D9"/>
    </svg>
  {% when 'plus-header' %}
    <svg
      class='{{ icon_class }}'
      xmlns='http://www.w3.org/2000/svg'
      width='12'
      height='11'
      viewBox='0 0 12 11'
      fill='none'
      {% if icon_click_id != blank -%}
        data-click-id='{{ icon_click_id }}'
      {%- endif %}
    >
      <path d="M0.908831 6.22254L0.908831 5.09117L5.43431 5.09117L5.43431 0.565685H6.56569L6.56569 5.09117L11.0912 5.09117L11.0912 6.22254L6.56569 6.22254L6.56568 10.748H5.43432L5.43431 6.22254L0.908831 6.22254Z"
            fill="white"/>
    </svg>
  {% when 'selected-circle' %}
    <svg
      xmlns='http://www.w3.org/2000/svg'
      width='24'
      height='24'
      viewBox='0 0 24 24'
      fill='none'
      {% if icon_click_id != blank -%}
        data-click-id='{{ icon_click_id }}'
      {%- endif %}
    >
      <circle cx="12" cy="12" r="11.5" fill="black" stroke="black"
              {% if icon_click_id != blank -%}data-click-id="{{ icon_click_id }}"{%- endif %}/>
      <path d="M10.7808 13.8137L16.3256 8.26912C16.5049 8.08971 16.7162 8 16.9596 8C17.2031 8 17.4145 8.08971 17.5938 8.26912C17.7732 8.44842 17.8629 8.66099 17.8629 8.90684C17.8629 9.15269 17.7732 9.36531 17.5938 9.54473L11.415 15.7309C11.2356 15.9103 11.0242 16 10.7808 16C10.5375 16 10.3261 15.9103 10.1467 15.7309L7.26546 12.8497C7.08605 12.6703 6.99758 12.4576 7.00005 12.2118C7.00252 11.9659 7.09347 11.7534 7.27288 11.5741C7.45218 11.3947 7.66475 11.3049 7.9106 11.3049C8.15645 11.3049 8.36907 11.3947 8.54849 11.5741L10.7808 13.8137Z"
            fill="white" {% if icon_click_id != blank -%}data-click-id="{{ icon_click_id }}"{%- endif %}/>
    </svg>
  {% when 'empty-circle' %}
    <svg
      xmlns='http://www.w3.org/2000/svg'
      width='24'
      height='24'
      viewBox='0 0 24 24'
      fill='none'
      {% if icon_click_id != blank -%}
        data-click-id='{{ icon_click_id }}'
      {%- endif %}
    >
      <circle cx="12" cy="12" r="11.5" stroke="black"
              {% if icon_click_id != blank -%}data-click-id="{{ icon_click_id }}"{%- endif %}/>
    </svg>
  {% when 'swiper-button-prev' %}
    <svg
      xmlns='http://www.w3.org/2000/svg'
      width='48'
      height='48'
      viewBox='0 0 48 48'
      fill='none'
      {% if icon_click_id != blank -%}
        data-click-id='{{ icon_click_id }}'
      {%- endif %}
    >
      <path d="M27 15L16.5 24L27 33" stroke="#333333" stroke-width="1.92308" stroke-linecap="square"
            stroke-linejoin="round"/>
    </svg>
  {% when 'swiper-button-next' %}
    <svg
      xmlns='http://www.w3.org/2000/svg'
      width='32'
      height='32'
      viewBox='0 0 32 32'
      fill='none'
      {% if icon_click_id != blank -%}
        data-click-id='{{ icon_click_id }}'
      {%- endif %}
    >
      <path d="M14 22L21 16L14 10" stroke="#333333" stroke-width="1.92308" stroke-linecap="square"
            stroke-linejoin="round"/>
    </svg>
  {% when 'quantity-selector-minus' %}
    <svg
      xmlns='http://www.w3.org/2000/svg'
      width='14'
      height='2'
      viewBox='0 0 14 2'
      fill='none'
    >
      <path d="M0 2V0H14V2H0Z" fill="#1C1B1F"/>
    </svg>
  {% when 'quantity-selector-plus' %}
    <svg
      xmlns='http://www.w3.org/2000/svg'
      width='14'
      height='14'
      viewBox='0 0 14 14'
      fill='none'
    >
      <path d="M6 8H0V6H6V0H8V6H14V8H8V14H6V8Z" fill="#1C1B1F"/>
    </svg>
  {% when 'checked' %}
    <svg
      xmlns='http://www.w3.org/2000/svg'
      width='20'
      height='20'
      viewBox='0 0 20 20'
      fill='none'
      {% if icon_click_id != blank -%}
        data-click-id='{{ icon_click_id }}'
      {%- endif %}
    >
      <rect width="20" height="20" rx="2" fill="black"
            {% if icon_click_id != blank -%}data-click-id="{{ icon_click_id }}"{%- endif %}/>
      <path d="M7.72606 12.2671L14.657 5.3364C14.8811 5.11213 15.1453 5 15.4495 5C15.7538 5 16.0181 5.11213 16.2422 5.3364C16.4665 5.56052 16.5786 5.82624 16.5786 6.13355C16.5786 6.44086 16.4665 6.70664 16.2422 6.93091L8.51878 14.6636C8.29452 14.8879 8.03027 15 7.72606 15C7.42184 15 7.1576 14.8879 6.93333 14.6636L3.33182 11.0621C3.10756 10.8378 2.99697 10.572 3.00006 10.2647C3.00315 9.95742 3.11683 9.69171 3.3411 9.46758C3.56522 9.24332 3.83094 9.13119 4.13825 9.13119C4.44556 9.13119 4.71134 9.24332 4.93561 9.46758L7.72606 12.2671Z"
            fill="white" {% if icon_click_id != blank -%}data-click-id="{{ icon_click_id }}"{%- endif %} />
    </svg>
  {% when 'white-variant' %}
    <svg
      xmlns='http://www.w3.org/2000/svg'
      width='12'
      height='12'
      viewBox='0 0 12 12'
      fill='none'
    >
      <circle cx="6" cy="6" r="5.75" fill="white" stroke="#CCCCCC" stroke-width="0.5"/>
    </svg>
  {% when 'questions-mark' %}
    <svg xmlns='http://www.w3.org/2000/svg' width='18' height='18' viewBox='0 0 18 18' fill='none'>
      <circle cx="9" cy="9" r="9" fill="black"/>
      <path d="M9.125 5.875C8.78125 5.875 8.48698 5.7526 8.24219 5.50781C7.9974 5.26302 7.875 4.96875 7.875 4.625C7.875 4.28125 7.9974 3.98698 8.24219 3.74219C8.48698 3.4974 8.78125 3.375 9.125 3.375C9.46875 3.375 9.76302 3.4974 10.0078 3.74219C10.2526 3.98698 10.375 4.28125 10.375 4.625C10.375 4.96875 10.2526 5.26302 10.0078 5.50781C9.76302 5.7526 9.46875 5.875 9.125 5.875ZM8.1875 14.625V7.125H10.0625V14.625H8.1875Z"
            fill="white"/>
    </svg>
  {% when 'modal-close' %}
    <svg xmlns='http://www.w3.org/2000/svg' width='12' height='12' viewBox='0 0 12 12' fill='none'>
      <path d="M1.2 12L0 10.8L4.8 6L0 1.2L1.2 0L6 4.8L10.8 0L12 1.2L7.2 6L12 10.8L10.8 12L6 7.2L1.2 12Z" fill="#1C1B1F"/>
    </svg>
  {% when 'arrow-icon' %}
    <svg
      aria-hidden='true'
      focusable='false'
      class='{{ icon_class }}'
      viewBox='0 0 10 6'
      width='15'
      height='8'
    >
      <path fill-rule="evenodd" clip-rule="evenodd" d="M9.354.646a.5.5 0 00-.708 0L5 4.293 1.354.646a.5.5 0 00-.708.708l4 4a.5.5 0 00.708 0l4-4a.5.5 0 000-.708z" fill="#ffffff"></path>
    </svg>
  {% when 'icon-tick' %}
    <svg
      viewBox='0 0 12 12'
      fill='none'
      xmlns='http://www.w3.org/2000/svg'
      aria-hidden='true'
      focusable='false'
      width='15'
      height='12'
      class='{{ icon_class }}'
    >
      <g clip-path="url(#clip0_1165_627)">
        <path d="M1.875 6.75L4.5 9.375L10.5 3.375" stroke="#000" stroke-width="1.5" stroke-linejoin="round"></path>
      </g>
      <defs>
        <clipPath id="clip0_1165_627"> <rect width="12" height="12" fill="white"></rect>
        </clipPath>
      </defs>
    </svg>

  {% when 'chevron-down' %}
    <svg
      class='{{ icon_class }}'
      viewBox='0 0 24 24'
      fill='none'
      xmlns='http://www.w3.org/2000/svg'
    >
      <g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <path fill-rule="evenodd" clip-rule="evenodd" d="M4.29289 8.29289C4.68342 7.90237 5.31658 7.90237 5.70711 8.29289L12 14.5858L18.2929 8.29289C18.6834 7.90237 19.3166 7.90237 19.7071 8.29289C20.0976 8.68342 20.0976 9.31658 19.7071 9.70711L12.7071 16.7071C12.3166 17.0976 11.6834 17.0976 11.2929 16.7071L4.29289 9.70711C3.90237 9.31658 3.90237 8.68342 4.29289 8.29289Z" fill="#000000"></path> </g>
    </svg>
  {% when 'filled-circle' %}
    <svg xmlns='http://www.w3.org/2000/svg' width='20' height='20' viewBox='0 0 20 20' fill='none'>
      <g clip-path="url(#clip0_2468_375)">
        <path d="M10 0.5C15.2467 0.5 19.5 4.75329 19.5 10C19.5 15.2467 15.2467 19.5 10 19.5C4.75329 19.5 0.5 15.2467 0.5 10C0.5 4.75329 4.75329 0.5 10 0.5Z" fill="black" stroke="black"/>
        <path d="M10 2C14.4183 2 18 5.58172 18 10C18 14.4183 14.4183 18 10 18C5.58172 18 2 14.4183 2 10C2 5.58172 5.58172 2 10 2Z" fill="black" stroke="white" stroke-width="2"/>
      </g>
      <defs>
        <clipPath id="clip0_2468_375">
          <rect width="20" height="20" fill="white"/>
        </clipPath>
      </defs>
    </svg>
  {% when 'checkmark-green' %}
    <svg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16' fill='none'>
      <g clip-path="url(#clip0_2499_389)">
      <path d="M8 16C12.4183 16 16 12.4183 16 8C16 3.58172 12.4183 0 8 0C3.58172 0 0 3.58172 0 8C0 12.4183 3.58172 16 8 16Z" fill="#DBEF46"/>
      <path d="M6.78438 9.36027L10.8679 5.20184C10.9999 5.06728 11.1555 5 11.3348 5C11.5141 5 11.6698 5.06728 11.8018 5.20184C11.9339 5.33632 12 5.49574 12 5.68013C12 5.86452 11.9339 6.02398 11.8018 6.15855L7.25143 10.7982C7.11931 10.9327 6.96363 11 6.78438 11C6.6052 11 6.44951 10.9327 6.31739 10.7982L4.1955 8.63727C4.06337 8.50272 3.99822 8.3432 4.00004 8.15885C4.00186 7.97442 4.06884 7.81505 4.20096 7.68057C4.33301 7.54602 4.48956 7.47868 4.67061 7.47868C4.85167 7.47868 5.00825 7.54602 5.14039 7.68057L6.78438 9.36027Z" fill="black"/>
      </g>
      <defs>
      <clipPath id="clip0_2499_389">
      <rect width="16" height="16" fill="white"/>
      </clipPath>
      </defs>
    </svg>
  {% when 'cross-red' %}
    <svg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16' fill='none'>
      <g clip-path="url(#clip0_2279_767)">
      <path d="M8 16C12.4183 16 16 12.4183 16 8C16 3.58172 12.4183 0 8 0C3.58172 0 0 3.58172 0 8C0 12.4183 3.58172 16 8 16Z" fill="#FF4438" fill-opacity="0.1"/>
      <path d="M5.5 10.5L10.5 5.5M10.5 10.5L5.5 5.5" stroke="#FF4438" stroke-width="1.2" stroke-linecap="round"/>
      </g>
      <defs>
      <clipPath id="clip0_2279_767">
      <rect width="16" height="16" fill="white"/>
      </clipPath>
      </defs>
    </svg>
{%- endcase -%}
