<!-- snippets/master--slider -->

{% if section.blocks.size > 0 %}
{% liquid 

    assign s                    = section.settings

    assign s_id                 = section.id

    assign hght_fallback        = '500px'
    assign siteMaxWidth         = 1360 | append: 'px'
    assign sitePadding          = 20 | times: 2 | append: 'px'

    assign mobRelative          = s.mob_rel
    assign useBgImg             = s.set_height
    assign mobOvSooner          = s.show_mobile_overlay_sooner


    assign sectionCustomCSS     = s.custom_css
    assign class                = 'section--' | append: s_id
    assign cssClass             = '.' | append: class

    assign dskHght              = s.image_height | default: hght_fallback
    if dskHght contains '%'
        assign dskImgHght       = 'padding-top:' | append: dskHght | append: ';height: 0;min-height: 0;'
    else
        assign dskImgHght       = 'min-height:' | append: dskHght | append: ';'
    endif

    assign mobHght              = s.image_height_mob | default: dskHght
    if mobHght contains '%'
        assign mobImgHght       = 'padding-top:' | append: mobHght | append: ';height: 0;min-height: 0;'
    else
        assign mobImgHght       = 'min-height:' | append: mobHght | append: ';'
    endif

%}

<style>
{% capture sectionCSS %}
    == {
        position: relative;
        z-index: 1;
        margin: 0;
    }
    {% if useBgImg == true %}
    {% unless dskHght contains '%' %}
    == {
        {{dskImgHght}}
    }
    {% endunless %}
    {% if mobHght != 0 %}
    {% unless mobHght contains '%' %}
    /small/ {
        == {
            {{mobImgHght}}
        }
    }
    {% endunless %}
    
    {% endif %}
    {% if mobRelative == true %}
    /small/ {
        == {
            height: auto;
            min-height: 100%;
        }
    }
    {% endif %}
    == .bg_image {
        position: absolute;
        top: 0;
        left:0;
        height: 100%;
        width: 100%;
        z-index: -1;
        background-repeat: no-repeat;
        background-size: cover;
    }
    == .page-width {
        position: absolute;
        top: 50%;
        left: 50%;
        width: calc( 100% - {{sitePadding}} );
        transform: translate(-50%,-50%);
        max-width: {{siteMaxWidth}};
    }
    {% else %}
    == img {
        width: 100%;
    }
    {% endif %}

    /* Other CSS */
    == .slick-slider {
        overflow: hidden;
    }
    == slick-track,
    == .overlay-link {
        position: absolute;
        top: 0;
        left:0;
        height: 100%;
        width: 100%;
        z-index: 99999;
    }
    == .slick-dots {
        bottom: 15px;
    }
    == .slick-dots li {
        margin: 0 2px;
    }
    == .slick-prev, 
    == .slick-next {
        width: 75px;
        height: 75px;
        top: 50%;
        -webkit-filter: drop-shadow(0px 0px 6px black);
        filter: drop-shadow(0px 0px 6px black);
        z-index: 1;
    }
    == .slick-prev::before, 
    == .slick-next::before {
        background-color: white;
    }
    {% if mobRelative == true %}
        /small/ {
            == .slick-list, 
            == .slick-track {
                position: relative;
                top: initial;
                left: initial;
                height: auto;
            }
        }
    {% endif %}

    == .page-width {
        height: 100%;
    }
    == > .slide-image:not(:first-of-type) {
        opacity: 0;
        display: none;
    }
    == .video-inline {
        position: relative;
        width:100%;
        padding-top: 56.6%;
    }
    == .video-inline video,
    == .video-inline iframe {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
    }
    == .video-inline + noscript + .image-content__image-container,
    == .video-ratio:not(.for-modal) {
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        position: absolute;
        top:50%;
        left:50%;
        transform: translate(-50%,-50%);
        z-index: 0;
    }
    == .video-inline + noscript + .image-content__image-container {
        z-index: -1;
    }
    == .video-inline + noscript + .image-content__image-container img {
        height: 100%;
        object-fit: cover;
    }

    == .video-ratio:not(.for-modal):before {
        content: '';
        position: absolute;
        top:0;
        left:0;
        width:100%;
        height:100%;
        z-index: 1;
    }
    == .video-ratio:not(.for-modal) .full-width {
        width: 100%;
        height: 100%;
        position: absolute;
        top:50%;
        left:50%;
        transform: translate(-50%,-50%);
    }
    @media (min-aspect-ratio: 16/9) {
    == .video-ratio:not(.for-modal),
    == .video-ratio:not(.for-modal) .full-width {
            width: 110%;
            width: 130%;
            height: 300%;
        }
    }
    @media (max-aspect-ratio: 16/9) {
    == .video-ratio:not(.for-modal),
    == .video-ratio:not(.for-modal) .full-width {
            width: 100%;
            height: 172%;
        }
    }
    @media screen and (max-width:400px) {
    == .video-ratio:not(.for-modal),
    == .video-ratio:not(.for-modal) .full-width {
            width: 400%;
            height: 100%;
        }
    }
    @media screen and (min-width:1900px) {
    == .video-ratio:not(.for-modal),
    == .video-ratio:not(.for-modal) .full-width {
            width: 300%;
            height: 125%;
        }
    }
    @media screen and (min-width:2200px) {
    == .video-ratio:not(.for-modal),
    == .video-ratio:not(.for-modal) .full-width {
            width: 300%;
            height: 150%;
        }
    }
{% endcapture %}
</style>

{% include 'custom-css', 
    css: sectionCSS, 
    class: cssClass 
%}



<section class="nine15--slider {{class}} {% if mobRelative == true %}mobile-relative{% endif %}">
    {% for block in section.blocks %}

        {% liquid 

            assign b                = block.settings

            assign useSlide         = b.show_image

            assign blockCustomCSS   = b.custom_css
            assign slideID          = 'image--' | append: block.id
            assign slideCls         = '.' | append: slideID

            assign topStars         = b.stars | plus: 0 

            assign ttl              = b.title
            assign ttlClr           = b.title_color
            assign ttlSze           = b.font_size_title

            assign subTtl           = b.subtitle
            assign subTtlClr        = b.subtitle_color
            assign subTtlSze        = b.font_size_subtitle

            assign txt              = b.text
            assign txtClr           = b.text_color
            assign txtSze           = b.font_size_text

            assign btn_url          = b.btn_url
            assign btn_txt          = b.btn_txt
            assign use_btn          = false
            assign btnStyle         = b.btn_style


            if btn_url != blank and btn_txt != blank
                assign use_btn      = true
            endif

            assign imgMain          = b.image
            assign imgMob           = b.image_mob
            assign icnImg           = b.icon

            assign vidEmbd          = b.video_url
            assign vidHost          = b.video_hosted

            assign bgColor          = b.bg_color
            assign op               = b.opacity | times: 0.01
            assign bgColor          = bgColor | color_modify: 'alpha', op
            assign bgColorMob       = bgColor

            assign opMob            = b.opacity_mob
            if opMob != '0'
                assign bgColorMob   = b.bg_color_mob
                assign opMob        = opMob | times: 0.01
                assign bgColorMob   = bgColorMob | color_modify: 'alpha', opMob
            endif

            assign txtAlgn          = b.align_text
            assign txtWdth          = b.width
            assign contAlgn         = b.align_hor

            assign vert             = b.vert_align
            assign hor              = b.hor_align
            if contAlgn != 'right'
                assign alignment    = 'left: ' | append: hor | append: '%; transform: translate(-' | append: hor | append: '%,-' | append: vert | append: '%); top: ' | append: vert | append: '%;'
            elsif contAlgn == 'right'
                assign alignment    = 'left: initial; right:'  | append: hor | append: '%; transform: translate(' | append: hor | append: '%,-' | append: vert | append: '%); top:' | append: vert | append: '%;'
            endif

            assign posType          = 'object-position: '
            if useBgImg
                assign posType      = 'background-position: '
            endif 

            assign position         = posType | append: b.align_bg | append: ';'
            assign mobPosition      = '' 
            if imgMob != blank
                assign mobPosition  = posType | append: b.align_bg_mob | append: ';'
            endif

        %}

        {% capture blockCSS %}
            /* Slide Defaults */
            {{slideCls}} {
                position: relative;
                overflow: hidden;
                z-index: 1;
            }
            /* Overlay */
            {{slideCls}} .overlay {
                background: {{bgColor}};
                position: absolute;
                top:0;
                left:0;
                width: 100%;
                height: 100%;
                z-index: 0;
            }
            {% if opMob != '0' %}
                {% if mobOvSooner %}/medium-down/{% else %}/small/{% endif %} {
                    {{slideCls}} .overlay {
                        background: {{bgColorMob}};
                    }
                }
            {% endif %}

            /* Content Position */
            {{slideCls}} .center-content {
                position: absolute;
                text-align: {{txtAlgn}};
                max-width: {{txtWdth}};
                margin: 0 auto;
                width:95%;
                {{alignment}}
            }

            {% if mobOvSooner %}/medium-down/{% else %}/small/{% endif %} {
                {{slideCls}} .center-content {
                    width: 95%;
                    text-align: center;
                    {% if mobRelative == true %}
                        position: relative;
                        top: initial;
                        left: initial;
                        right: initial;
                        bottom: initial;
                        transform: none;
                        padding: 2em 1em;
                        margin: 0 auto;
                    {% else %}
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%,-50%);
                    {% endif %}
                }
                {% if mobRelative == true %}
                {{slideCls}} .page-width {
                    position: relative;
                    top: 0;
                    left: 0;
                    right: 0;
                    bottom: 0;
                    transform: none;
                    margin: 0 auto;
                }
                {% endif %}
            }

            /* Text Sizing */
            {{slideCls}} h2 {
                font-size: {{ttlSze}}px;
                font-family: 'Blender-Heavy';
                font-weight: 900;
                color: {{ttlClr}};
                margin-bottom: 15px;
                line-height: 1;
            }
            {{slideCls}} h3 {
                font-size: {{subTtlSze}}px;
                font-family: 'Blender-Heavy';
                font-weight: 600;
                color: {{subTtlClr}};
                margin-bottom: 15px;
                line-height: 1;
            }
            {{slideCls}} .rte,
            {{slideCls}} .rte * {
                font-family: 'Blender-Thin';
                font-size: {{txtSze}}px;
                line-height: 1.3;
                color: {{txtClr}};
            }
            {{slideCls}} .btn {
                {% comment %}font-size: 17px;{% endcomment %}
            }
            {% if mobOvSooner %}/medium-down/{% else %}/small/{% endif %} {
                {{slideCls}} h2 {
                    font-size: 30px;
                }
                {{slideCls}} h3 {
                    font-size: 20px;
                }
                {{slideCls}} .rte,
                {{slideCls}} .rte * {
                    font-size: 16px;
                }
                {{slideCls}} .btn {
                    font-size: 15px;
                }
            }

            /* Image Position */
            {{slideCls}} .bg_image,
            {{slideCls}} img {
                {{position}}
            }
            {% if imgMob != blank %}
                {% if mobOvSooner %}/medium-down/{% else %}/small/{% endif %} {
                    {{slideCls}} .bg_image,
                    {{slideCls}} img {
                        {{mobPosition}}
                    }
                }
            {% endif %}


            /* Slide Height */
            {% if useBgImg == true %}
                {{slideCls}} {
                    {{dskImgHght}}
                    {{position}}
                }
               

                {% if mobHght != 0 %}
                        {% if mobOvSooner %}/medium-down/{% else %}/small/{% endif %} {
                            {{slideCls}}  {
                                {{mobImgHght}}
                            }
                        }
                    {% unless mobHght contains '%' %}
                    {% endunless %}
                {% endif %}
                {% if mobRelative == true %}
                    {% if mobOvSooner %}/medium-down/{% else %}/small/{% endif %} {
                        {{slideCls}}  {
                            height: auto;
                            min-height: 100%;
                            {% if mobHght contains '%' %}
                            padding-top: 0;
                            {% endif %}
                        }
                        {{slideCls}} h2,
                        {{slideCls}} h3,
                        {{slideCls}} .rte * {
                            color: {{ settings.color_primary_body_text }};
                        }
                    }
                {% endif %}
            {% endif %}
        {% endcapture %}

        {% capture video %}
            {% assign normMob = false %}
            {% if imgMain == blank and imgMob == blank  %}
                {% assign normMob = true %}
            {% endif %}
            {% include 'snippet--video', 
                vidExt: vidEmbd, 
                vidHosted: vidHost, 
                vidClass: sectionClass, 
                normalMobile: normMob,
                useBG: useBgImg 
            %}
                {% comment %}{% assign vCls = sectionClass | append: ' medium-up--hide' %}
                {% include 'snippet--video', 
                    vidExt: vidEmbd, 
                    vidHosted: vidHost, 
                    vidClass: sectionClass, 
                    useBG: useBgImg,
                    autoPlay: false 
                %}{% endcomment %}
        {% endcapture %}

        {% capture img %}
            {% capture imgCls %}{% if imgMob != blank or mobRelative == true %}{% if mobOvSooner %}medium-down{% else %}small{% endif %}--hide{% endif %}{% endcapture %}
            {% capture mobImgCls %}{% if mobOvSooner %}large-up{% else %}medium-up{% endif %}--hide{% endcapture %}
            {% include 'snippet--image', 
                img: imgMain, 
                extraClass: imgCls,
                useBG: useBgImg 
            %}
            {% if imgMob != blank and mobRelative == false %}
                {% include 'snippet--image', 
                    img: imgMob, 
                    extraClass: mobImgCls,
                    useBG: useBgImg 
                %}
            {% endif %}
            {% if mobRelative == true %}
                {% assign relImgMob = imgMain %}
                {% if imgMob != blank %}
                    {% assign relImgMob = imgMob %}
                {% endif %}
                {% include 'snippet--image', 
                    img: relImgMob, 
                    extraClass: mobImgCls,
                    useBG: false 
                %}
            {% endif %}
        {% endcapture %}

        {% assign v_modal = b.video_modal %}
        {% if v_modal != blank %}
            {% capture modal %}
                <div class="video-modal" id="video_{{ forloop.index }}">
                    <div data-close="video_{{ forloop.index }}" class="bg_close"></div>

                    <div class="modal-inner">
                        <div class="video-ratio for-modal">
                            <span data-close="video_{{ forloop.index }}" class="close-modal">
                                <span class="visually-hidden">Close</span>
                                {% include 'icon-close' %}
                            </span>
                            {% if v_modal.type == "youtube" %}
                                <iframe class="modal_video" src="https://www.youtube.com/embed/{{ v_modal.id }}?rel=0&showinfo=0&vq=720" width="800" height="480" frameborder="0" allowfullscreen></iframe>
                            {% endif %}
                            {% if v_modal.type == "vimeo" %}
                                <iframe class="modal_video" src="//player.vimeo.com/video/{{ v_modal.id }}?byline=0&portrait=0&badge=0" width="800" height="480" frameborder="0" allowfullscreen></iframe>
                            {% endif %}
                        </div>
                    </div>
                </div>
            {% endcapture %}
        {% endif %}

        {% if useSlide == true %}
            <div class=" slide-image {% if v_type != blank %}{{v_type}}{% endif %} {{slideID}}" title="{{ ttl | strip_html | escape }}" {{ block.shopify_attributes }}>

                <div class="overlay"></div>

                {{video}}

                {{img}}

                {{modal}}

                {% if use_btn == false and btn_url != blank %}
                    <a class="overlay-link" href="{{btn_url}}">
                        <span class="visually-hidden">{{ttl}}</span>
                    </a>
                {% endif %}

                <div class="page-width">
                    {% if 
                        use_btn == true or 
                        ttl != blank or 
                        subTtl != blank or
                        txt != blank 
                    %}
                        <div class="center-content {{ contAlgn }}">
                            {% include 'snippet--image', 
                                img: icnImg, 
                                useBG: false,
                                customStyle: 'max-width: 100px;display: inline-block;width: 100%;margin-bottom: 15px;'
                            %}
                           {% comment %} {% if topStars > 0 %}
                                <div class="stars">
                                    {% for i in (1..topStars) %}
                                        {% include 'icon-star' %}
                                    {% endfor %}
                                </div>
                            {% endif %}{% endcomment %}
                            {% if subTtl != blank %}
                                <h3 class="sec_h_font">{{ subTtl }}</h3>
                            {% endif %}
                            {% if ttl != blank %}
                                <h2>{{ ttl }}</h2>
                            {% endif %}
                            {% if txt != blank %}
                                <div class="rte">{{ txt }}</div>
                            {% endif %}
                            {% if use_btn == true %}
                                <a class="btn btn--{{btnStyle}}" href="{{ btn_url }}">{{ btn_txt }}</a>
                            {% endif %}
                            {% if v_modal != blank %}
                                <a class="btn secondary open-modal" data-open="video_{{ forloop.index }}" href="#">Watch Video</a>
                            {% endif %}
                        </div>
                    {% endif %}
                </div>

                {% include 'custom-css', 
                    css: blockCSS, 
                    class: slideCls 
                %}

                {% include 'custom-css', 
                    css: blockCustomCSS, 
                    class: slideCls 
                %}

            </div>
        {% endif %}
    {% endfor %}
</section>

{% include 'custom-css', 
    css: sectionCustomCSS, 
    class: cssClass 
%}

<script type="text/javascript">
    waitFor_jQuery(function () {
        waitFor_Plugins(function () {
            $(document).ready(function () {

                $('{{cssClass}}').slick({
                    // fade:true,
                    infinite: true,
                    autoplay: {{s.auto_slide}},
                    autoplaySpeed: {{s.pause}},
                    lazyLoad:"progressive",
                    arrows: false,
                    {% if useBgImg == false %}
                    apaptiveHeight: true,
                    {% endif %}
                    dots: true
                });
            })
            $(function(){

                var section = '{{cssClass}}',
                    open = '.open-modal',
                    close = '.close-modal, .bg_close',
                    content = '.video-modal',
                    cont_active = 'active';
                $(section+' '+open).click(function(){
                    var tab = $(this),
                        tab_id = tab.attr('data-open'),
                        cont = $("#"+tab_id);
                      cont.addClass(cont_active);
                });
                $(close).click(function(){
                    var tab = $(this),
                        tab_id = tab.attr('data-close'),
                        cont = $("#"+tab_id);
                      cont.removeClass(cont_active);

                    $(".modal_video").each(function() {
                        var src = $(this).attr('src');
                        $(this).attr('src', src);
                    });
                });
            });
        });
    });

</script>
{% endif %}