{% set dialog_class = "" %}
{% if subscription.offer == 'f28ab09a5e4c11ef901e6a2d217861a5' %}
  {% set dialog_class = "cancel-sub-dialog" %}
{% endif %}

<sm-multistep>
  <sm-dialog id="og-cancel-sub-dialog-{{ subscription.public_id }}" class="{{ dialog_class}}">
    <dialog @close="{{ '(e) => dispatchOGEvent(e, "og-step-reset")' | js }}">
      <div data-step="start">
        {% set dialog_header_text = 'modal_cancel_header' | t %}
        {% include 'dialog-header' %}
        <div class="og-dialog-body">
          <p>{{ 'modal_cancel_skip_text' | t }}</p>
        </div>
        <div class="og-dialog-footer">
          <button
            class="og-button"
            data-variant="tertiary"
            data-state="error"
            @click="{{ '(e) => dispatchOGEvent(e, "og-step-change", { step: "reason" })' | js }}"
          >
            {{ 'modal_cancel_save' | t }}
          </button>
          <button
            class="og-button"
            @click="{{ '(e) => dispatchOGEvent(e, "og-step-change", { step: "pause" })' | js }}"
          >
            {{ 'pause_subscription_button' | t }}
          </button>
        </div>
      </div>
      
      <!-- Step 2: Reason Step -->
      <div data-step="reason">
          <form 
            id="cancel-subscription-form" 
            action="{{ 'cancel_subscription' | action }}"
            @success="{{ 'SMDialog.close' | js }}"
            @reset="{{ 'SMDialog.close' | js }}"
          >
          {% set dialog_header_text = 'modal_cancel_header' | t %}
          {% include 'dialog-header' %}
          {% if subscription.offer == 'f28ab09a5e4c11ef901e6a2d217861a5' or subscription.offer == 'f27f6c085e4c11efb5db4a6c047821ae' or subscription.offer == 'cd2b0e349d4011ef9cf06675f34af022' or subscription.offer == 'cd38f1489d4011ef9786f6b4b1e7e8cc' %}
            <div class="container cancel-reasons-banner">
                <div class="image-container">
                    <img src="https://static.rechargecdn.com/merchant-image-library/MjVmOWI3MzlhMA/images/MGEwYjEyNzQyNg" alt="Image description">
                </div>
                <div class="content">
                    <h2>If you cancel, you will lose your 20% discount.</h2>
                    <p>
                        Keep in mind you can always skip your next order, but if you decide to cancel you will lose the 20% offer and your subscription discount will be 15% if you resubscribe in the future.
                        </p>
                    <button
                        class="og-button"
                        type="button"
                        @click="{{ '(e) => closeCurrentAndOpenNext(e, "og-skip-order-dialog-" + order.public_id)' | js }}"
                    >
                        Skip Next Order & Keep 20% Off
                    </button>
                </div>
            </div>
          {% endif %}
          <div class="og-dialog-body">
            <p>{{ 'modal_cancel_body' | t }}</p>
            {% include 'cancel/cancel-reasons' %}
          </div>
          <input type="hidden" name="subscription" value="{{ subscription.public_id }}">
          
          <div class="og-dialog-footer">
            <button
              class="og-button"
              type="button"
              data-variant="tertiary"
              data-state="error"
              @click="{{ '(e) => handleReasonSubmit(e)' | js }}"
            >
              {{ 'modal_cancel_save' | t }}
            </button>
            <button
              class="og-button"
              type="button"
              @click="{{ '(e) => dispatchOGEvent(e, "og-step-change", { step: "pause" })' | js }}"
            >
              {{ 'pause_subscription_button' | t }}
            </button>
          </div>
          </form>
      </div>
      
      <!-- Step 3: Discount Offer Step -->
      <div data-step="discount">
        <form
          action="{{ 'cancel_subscription' | action }}"
          @success="{{ 'SMDialog.close' | js }}"
          @reset="{{ 'SMDialog.close' | js }}"
        >
            {% set dialog_header_text = 'Have a discount on us' %}
            {% include 'dialog-header' %}
            <div class="og-dialog-body">
              <p>We want to help you stay committed. Please enjoy 10% off your next subscription order.</p>
            </div>
            <!--<input class="cancel-reason-step" type="hidden" checked type="radio" name="cancel_reason" value="">-->
            <input type="hidden" name="subscription" value="{{ subscription.public_id }}">
            <div class="og-dialog-footer">
             <button
              class="og-button"
              data-variant="tertiary"
              data-state="error"
              type="submit"
              name="cancel_subscription"
            >
              {{ 'modal_cancel_save' | t }}
            </button>
              <button
              id="apply-discount-button"
                class="og-button"
                type="button"
                
              >
                Ok, thanks
              </button>
            </div>
        </form>
      </div>
      
       <!-- [CODE 22] Swap Step (I want a different product or flavor) -->
      <div data-step="swap-22">
          <form
          action="{{ 'cancel_subscription' | action }}"
          @success="{{ 'SMDialog.close' | js }}"
          @reset="{{ 'SMDialog.close' | js }}"
        >
            {% set dialog_header_text = 'Change it Up: Try a Different Product' %}
            {% include 'dialog-header' %}
            <div class="og-dialog-body">
              <p>Easily switch to a different product in our range before your next shipment. Discover something fresh without any hassle!</p>
            </div>
            <input
              required
              type="hidden"
              type="radio"
              name="cancel_reason"
              value="{{ '22' }} | {{ 'I want a different product or flavor' }}"
              id="cancel_reason_{{ '22' }}_{{ subscription.public_id }}"
              data-reason-code="{{ '22' }}"
            >
            <!--<input class="cancel-reason-step" type="hidden" checked type="radio" name="cancel_reason" value="">-->
            <input type="hidden" name="subscription" value="{{ subscription.public_id }}">
            <div class="og-dialog-footer">
             <button
              class="og-button"
              data-variant="tertiary"
              data-state="error"
              type="submit"
              name="cancel_subscription"
            >
              {{ 'modal_cancel_save' | t }}
            </button>
            <button
              class="og-button"
              type="button"
              data-click-target="og-sku-swap-dialog-{{ subscription.public_id }}"
              @click="{{ 'onSwapCancellationFlow' | js }}"
            >
                {{ 'change_product_control_label' | t }}
            </button>
            </div>
        </form>
      </div>
      
      <!-- [CODE 70] Swap Step (I no longer use for this product) -->
      <div data-step="swap-70">
          <form
          action="{{ 'cancel_subscription' | action }}"
          @success="{{ 'SMDialog.close' | js }}"
          @reset="{{ 'SMDialog.close' | js }}"
        >
            {% set dialog_header_text = 'Change it Up: Try a Different Product' %}
            {% include 'dialog-header' %}
            <div class="og-dialog-body">
              <p>Easily switch to a different product in our range before your next shipment. Discover something fresh without any hassle!</p>
            </div>
            <input
              required
              type="hidden"
              type="radio"
              name="cancel_reason"
              value="{{ '70' }} | {{ 'I no longer use for this product' }}"
              id="cancel_reason_{{ '70' }}_{{ subscription.public_id }}"
              data-reason-code="{{ '70' }}"
            >
            <input type="hidden" name="subscription" value="{{ subscription.public_id }}">
            <div class="og-dialog-footer">
             <button
              class="og-button"
              data-variant="tertiary"
              data-state="error"
              type="submit"
              name="cancel_subscription"
            >
              {{ 'modal_cancel_save' | t }}
            </button>
            <button
              class="og-button"
              type="button"
              data-click-target="og-sku-swap-dialog-{{ subscription.public_id }}"
              @click="{{ 'onSwapCancellationFlow' | js }}"
            >
                {{ 'change_product_control_label' | t }}
            </button>
            </div>
        </form>
      </div>
      
      <!-- [CODE 2] Skip  Step -->
      <div data-step="skip">
          <form
          action="{{ 'cancel_subscription' | action }}"
          @success="{{ 'SMDialog.close' | js }}"
          @reset="{{ 'SMDialog.close' | js }}"
        >
            {% set dialog_header_text = 'Don’t need any more yet?' %}
            {% include 'dialog-header' %}
            <div class="og-dialog-body">
              <p>If you still need this in your life, just not now, why not skip next shipment?</p>
            </div>
            <input
              required
              type="hidden"
              type="radio"
              name="cancel_reason"
              value="{{ '2' }} | {{ 'I already have more than I need' }}"
              id="cancel_reason_{{ '2' }}_{{ subscription.public_id }}"
              data-reason-code="{{ '2' }}"
            >
            <input type="hidden" name="subscription" value="{{ subscription.public_id }}">
            <div class="og-dialog-footer">
             <button
              class="og-button"
              data-variant="tertiary"
              data-state="error"
              type="submit"
              name="cancel_subscription"
            >
              No, thanks - cancel subscription
            </button>
            <button
              class="og-button"
              type="button"
              @click="{{ '(e) => closeCurrentAndOpenNext(e, "og-skip-order-dialog-" + order.public_id)' | js }}"
            >
                Skip next shipment
            </button>
            </div>
        </form>
      </div>
      
      <div data-step="pause">
        {% set dialog_header_text = 'modal_cancel_pause_header' | t %}
        {% include 'dialog-header' %}
        <form
          action="{{ 'pause_subscription_radio' | action }}"
          @success="{{ 'SMDialog.close' | js }}"
          @reset="{{ 'SMDialog.close' | js }}"
        >
          <div class="og-dialog-body og-pause-subscription">
            <p>{{ 'modal_cancel_pause_body' | t }}</p>
            {% include 'cancel/pause-subscription-options' %}
          </div>
          <div class="og-dialog-footer">
            <button class="og-button" type="submit" name="pause_product">
              {{ 'modal_pause_subscription_save' | t }}
            </button>
          </div>
          <input type="hidden" name="subscription" value="{{ subscription.public_id }}">
          <input type="hidden" name="order" value="{{ order.public_id }}">
        </form>
      </div>
    </dialog>
  </sm-dialog>
</sm-multistep>