<sm-dialog id="og-pause-product-dialog-{{ order_item.public_id }}">
  <dialog>
    <form
      action="{{ 'pause_subscription_radio' | action }}"
      @success="{{ 'SMDialog.close' | js }}"
      @reset="{{ 'SMDialog.close' | js }}"
    >
      {% set dialog_header_text = 'modal_pause_subscription_header' | t %}
      {% include 'dialog-header' %}
      <div class="og-dialog-body og-pause-subscription">
        <p>{{ 'modal_pause_subscription_body' | t }}</p>
        {% include 'cancel/pause-subscription-options' %}
      </div>
      <div class="og-dialog-footer">
        <button class="og-button" type="button" data-variant="tertiary" @click="{{ 'SMDialog.close' | js }}">
          {{ 'cancel_button' | t }}
        </button>
        <button class="og-button" type="submit" name="pause_product">{{ 'modal_pause_subscription_save' | t }}</button>
      </div>
      <input type="hidden" name="subscription" value="{{ subscription.public_id }}">
      <input type="hidden" name="order" value="{{ order.public_id }}">
    </form>
  </dialog>
</sm-dialog>
