{% set is_prepaid = subscription and subscription.prepaid_subscription_context != nil %}

{% if is_prepaid %}
  {% set next_order_date = 'nthOrderDate(order, subscription, subscription.prepaid_subscription_context.prepaid_orders_remaining)' | js | date %}
  <div class="og-prepaid-controls">
    {# Prepaid shipments remaining #}
    <div class="og-prepaid-remaining">
      {% if subscription.prepaid_subscription_context.prepaid_orders_per_billing
          >= subscription.prepaid_subscription_context.prepaid_orders_remaining
      %}
        <span class="og-prepaid-received">
          {{ 'prepaid_subscription_deliveries_received' | t }}
          {{ (subscription.prepaid_subscription_context.prepaid_orders_per_billing - subscription.prepaid_subscription_context.prepaid_orders_remaining) }}
        </span>
      {% endif %}
      {{ 'prepaid_subscription_deliveries_remaining' | t }}
      {{ subscription.prepaid_subscription_context.prepaid_orders_remaining }}
    </div>

    {# Prepaid shipment summary #}
    <div class="og-prepaid-summary">
      {{ 'item_controls_sending' | t }}
      {{ order_item.quantity }}
      {{ 'item_controls_every' | t }}
      {{ 'frequency_period' | t(every = subscription.every, period = subscription.every_period) }}
      {{ 'prepaid_subscription_frequency_for' | t }}
      {{ subscription.prepaid_subscription_context.prepaid_orders_per_billing }}
      {{ 'prepaid_subscription_frequency_deliveries' | t }}
    </div>

    {# Prepaid auto-renew #}
    <form
      class="og-renew-prepaid"
      action="{{ 'change_renewal_behavior' | action }}"
      @finally="{{ 'enableFormElements' | js }}"
      @submit="{{ 'disableFormElements' | js }}"
    >
      <input type="hidden" required name="subscription" value="{{subscription.public_id}}">
      <input
        type="checkbox"
        id="renew-prepaid-{{ order_item.public_id }}"
        name="autorenew_on"
        ?checked="{{ subscription.prepaid_subscription_context.renewal_behavior == "autorenew" }}"
        @change="{{ 'submitFormOnchange' | js }}"
      >
      <label for="renew-prepaid-{{ order_item.public_id }}">
        {{ 'prepaid_subscription_autorenew_checkbox' | t }}
        {{ next_order_date | date('L') }}
      </label>
    </form>
{% else %}
  {% set quantity_control_type = 'quantity_control_config.root' | setting("select") %}
  {% if subscription %}
    {% if subscription.can_change_quantity === false %}
      {# Pay-as-you-go read-only quantity #}
      <span>{{ order_item.quantity }}</span>
    {% else %}
      <form
        action="{{ 'change_quantity' | action }}"
        @finally="{{ 'enableFormElements' | js }}"
        @submit="{{ 'disableFormElements' | js }}"
      >
        <input type="hidden" name="subscription" value="{{ order_item.subscription }}">
        
      </form>
    {% endif %}
    {# Pay-as-you-go frequency select #}
    {% include 'order-item-and-product/frequency-select' %}
  {% else %}
    <form
      action="{{ 'change_item_quantity' | action }}"
      @finally="{{ 'enableFormElements' | js }}"
      @submit="{{ 'disableFormElements' | js }}"
    >
      <input type="hidden" name="order_item" value="{{ order_item.public_id }}">
      {% include 'order-item-and-product/quantity-select' %}
    </form>
  {% endif %}
{% endif %}
