{% set can_cancel = subscription and subscription.prepaid_subscription_context == nil %}

<sm-dropdown>
  <button class="og-button" data-variant="tertiary" aria-haspopup="true">{{ 'more_item_actions' | t }}</button>
  <div role="menu">
    <button
      role="menuitem"
      data-action
      data-click-target="og-skip-item-dialog-{{ order_item.public_id }}"
      @click="{{ 'SMDialog.open' | js }}"
    >
      {{ 'item_skip_button' | t }}
    </button>
    <button
      role="menuitem"
      data-action
      data-click-target="og-pause-product-dialog-{{ order_item.public_id }}"
      @click="{{ 'SMDialog.open' | js }}"
    >
      {{ 'pause_subscription_button' | t }}
    </button>
    {% if can_cancel %}
      <button
        role="menuitem"
        data-action
        data-click-target="og-cancel-sub-dialog-{{ subscription.public_id }}"
        @click="{{ 'SMDialog.open' | js }}"
      >
        {{ 'cancel_subscription_button' | t }}
      </button>
    {% endif %}
  </div>
</sm-dropdown>

{% include 'cancel/pause-subscription' %}
{% include 'skip-item' %}
{% if can_cancel %}
  {% include 'cancel/cancel-subscription' %}
{% endif %}
