{% set quantity_still_exists = false %}
<label for="quantity">
   Quantity
</label>
<div class="og-select-wrapper">
  <select name="quantity" @change="{{ 'submitFormOnchange' | js }}" aria-label="{{ 'a11y_quantity_select' | t }}">
    {% for quantity in 'quantity_control_config.quantities' | setting([1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20]) %}
      {% if order_item.quantity == quantity %}
        {% set quantity_still_exists = true %}
        <option selected value="{{quantity}}">{{ quantity }}</option>
      {% else %}
        <option value="{{quantity}}">{{ quantity }}</option>
      {% endif %}
    {% endfor %}

    {# If an order still uses an old subscription value, keep it as an option. #}
    {% if not quantity_still_exists %}
      <option value="{{ order_item.quantity }}" selected>{{ order_item.quantity }}</option>
    {% endif %}
  </select>
</div>
